<h1 mat-dialog-title><b>Categories - Add, Delete, Edit and Set</b></h1>
<button mat-icon-button class="close-button dialog-close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<div class="container">
    <div class="card w-100">
        <div class="card-header">
            <div class="row">
                <div class="col-6 px-4">
                    Category
                </div>
                <div class="col-6 px-4">
                    Sub Category
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
            <div class="row">
                <div class="col-6 offset-6">
                    <div class="d-flex gap-12 my-4 justify-content-end">
                    <button mat-stroked-button color="primary" class="button-primary-o bg-white" (click)="openPrintRangeDialog()" >
                        <mat-icon>print</mat-icon>
                        Print
                      </button>
                      <button mat-raised-button color="primary" class="add-icon-button">
                        <span class="material-symbols-outlined">
                          add
                        </span>
                      </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <mat-radio-group aria-label="Select an option" color="primary" class="w-100">
                    
                    <mat-radio-button value="1" class="custom-radio-btn w-100 mb-2">
                        <div class="container w-100">
                        <div class="row">
                        <div class="col-6">
                        <mat-form-field class="custom-form-field w-100" appearance="outline">
                            <mat-label>Reel</mat-label>
                            <input matInput type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                            <div class="d-flex gap-12 align-items-center">
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <mat-label>Reel Tracking</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                            
                                <button mat-flat-button color="warn" class="sm-icon-button">
                                    <span class="material-symbols-outlined">
                                        close
                                    </span>
                                </button>
                                <button mat-flat-button color="primary" class="sm-icon-button">
                                <span class="material-symbols-outlined">
                                    save
                                </span>
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                    </mat-radio-button>
                    <mat-radio-button value="2" class="custom-radio-btn w-100 mb-2">
                        <div class="container w-100">
                        <div class="row">
                        <div class="col-6">
                        <mat-form-field class="custom-form-field w-100" appearance="outline">
                            <mat-label>Reel</mat-label>
                            <input matInput type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                            <div class="d-flex gap-12 align-items-center">
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <mat-label>Reel Tracking</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                            
                                <button mat-flat-button color="warn" class="sm-icon-button">
                                    <span class="material-symbols-outlined">
                                        close
                                    </span>
                                </button>
                                <button mat-flat-button color="primary" class="sm-icon-button">
                                <span class="material-symbols-outlined">
                                    save
                                </span>
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                    </mat-radio-button>
                
                </mat-radio-group>
            </div>
        </div>
        </div>
    </div>
</div>