<mat-card class="mat-elevation-z g-card mt-2 mb-3">
    <div class="mb-3">
        <h2 class="card-header-title mb-0 d-flex align-items-center">
            <div class="mat-icon-wrap me-lg-3">
                <span class="material-symbols-outlined">
                    ads_click
                </span>
            </div>
            <span>Create New Replenishment Orders</span>
        </h2>
    </div>
    <div class="card bg-light-blue bg-50 br-none px-4 py-4 br-14">
        <div class="row">
            <div class="col-xl-6">
                <div class="row align-items-center">
                    <div class="col-xl-7">
                        <mat-form-field class="w-100 custom-form-field custom-form-field-bg-white" appearance="outline">
                            <mat-label>No. of Selected Replenishments</mat-label>
                            <input type="text" aria-label="Search" matInput disabled [(ngModel)]="numberSelectedRep">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-5">
                        <div class="d-flex gap-20">
                            <mat-checkbox [checked]="kanban" color="primary" (change)="onChangeKanban($event)" [(ngModel)]="kanban">
                                Kanban
                            </mat-checkbox>
                            <!-- <div class="br-14 d-flex align-items-center label label-yellow px-3 f-16">
                            Kanban
                        </div> -->
                        </div>
                    </div>
                </div>
                <!-- <div>
                <mat-form-field class=" custom-form-field custom-form-field-bg-white" appearance="outline">
                    <mat-label>No. of Selected Replenishments</mat-label>
                    <input type="text" aria-label="Search" matInput>
                </mat-form-field>
            </div> -->

            </div>
            <div class="col-xl-4 offset-xl-2">
                <div class="d-flex gap-12 justify-content-end">
                    <button mat-flat-button color="primary" class="btn-md px-4" (click)="createNewOrdersList()">
                        Create New Order List
                    </button>
                    <!-- <button mat-flat-button color="primary" class=" mat-button-icon">
                <span class="material-symbols-outlined">
                add
                </span>
            </button> -->
                </div>
            </div>
        </div>
    </div>
</mat-card>
<mat-card class="mat-elevation-z g-card mb-3">
    <mat-card-content>
        <div class="row mb-3">
            <div class="col-xl-7">
                <div class="d-flex gap-12 align-items-center flex-wrap">
                    <mat-form-field class="action-dropdown" appearance="outline">
                        <mat-label>Search</mat-label>
                        <mat-select class="employees-action" (selectionChange)="searchChange($event.value)">
                            <mat-option *ngFor="let option of searchColumnOptions" [value]="option.value">{{option.viewValue}}</mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </mat-form-field>

                    <span class="v-br">-</span>
                    <div class="d-flex g-mini-search-box" style="flex:1">
                        <mat-form-field class="w-100 bg-white br-8" appearance="fill">
                            <span class="material-symbols-outlined icon-search">
                                Search
                            </span>
                            <input type="text" placeholder="Search" aria-label="Search" matInput [(ngModel)]="tablePayloadObj.searchString" (keyup.enter)="search()">

                        </mat-form-field>


                    </div>
                    <mat-form-field class="action-dropdown" appearance="outline">
                        <mat-label>Show</mat-label>
                        <mat-select class="employees-action" (selectionChange)="showChange($event.value)">
                            <mat-option value="1">All</mat-option>
                            <mat-option value="2">Reorder</mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xl-5 d-flex flex-row-reverse">
                <mat-form-field class="action-dropdown w-30" appearance="outline">
                    <mat-label>Action</mat-label>
                    <mat-select class="employees-action">
                        <mat-option value="" (click)="actionChange('1')">Filter Item No.</mat-option>
                        <mat-option value="2" (click)="actionChange('2')">Print</mat-option>
                        <mat-option value="3" (click)="actionChange('3')">View All Items</mat-option>
                        <mat-option value="4" (click)="actionChange('4')">View Selected Items</mat-option>
                        <mat-option value="5" (click)="actionChange('5')">Select All</mat-option>
                        <mat-option value="6" (click)="actionChange('6')">Unselect All</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                        expand_more
                    </span>
                </mat-form-field>



            </div>
        </div>

        <div class="card br-14 table-responsive borderless">
            <ng-scrollbar class="mat-table-scrollbar" style="height:340px" track="all">

                <table class="w-100 table-borderless" mat-table [dataSource]="filteredTableData" matSort>
                    <!-- <ng-container matColumnDef="select" sticky>
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox color="primary">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox color="primary" matTooltip="Check" matTooltipPosition="above">
                            </mat-checkbox>
                        </td>
                    </ng-container> -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> Item Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.itemNumber}} </td>
                    </ng-container>


                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="replenish">
                        <th mat-header-cell *matHeaderCellDef> Replenish </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="text-center">
                                <mat-checkbox color="primary" matTooltip="Check" matTooltipPosition="above" [disabled]="element.transactionQuantity < 1"
                                    [checked]="element.replenish" [(ngModel)]="element.replenish" (change)="changeReplenish()">
                                </mat-checkbox>
                            </div>
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="exists">
                        <th mat-header-cell *matHeaderCellDef> Exists </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="text-center">
                                <mat-checkbox color="primary" matTooltip="Check" matTooltipPosition="above" disabled
                                    [checked]="element.replenishExists">
                                </mat-checkbox>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Warehouse </th>
                        <td mat-cell *matCellDef="let element"> {{element.warehouse}} </td>
                    </ng-container>


                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Replenishment Point </th>
                        <td mat-cell *matCellDef="let element"> {{element.replenishmentPoint}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ex">
                        <th mat-header-cell *matHeaderCellDef> Replenishment Level </th>
                        <td mat-cell *matCellDef="let element"> {{element.replenishmentLevel}} </td>
                    </ng-container>

                    <ng-container matColumnDef="srno">
                        <th mat-header-cell *matHeaderCellDef> Available Qty </th>
                        <td mat-cell *matCellDef="let element"> {{element.availableQuantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="replishment">
                        <th mat-header-cell *matHeaderCellDef> Replenishment Qty </th>
                        <td mat-cell *matCellDef="let element"> {{element.replenishmentQuantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="case">
                        <th mat-header-cell *matHeaderCellDef> Case Qty </th>
                        <td mat-cell *matCellDef="let element"> {{element.caseQuantity}} </td>
                    </ng-container>


                    <ng-container matColumnDef="transaction">
                        <th mat-header-cell *matHeaderCellDef> Transaction Qty </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field class="custom-form-field w-100 __grab_cursor" appearance="outline"
                                (click)="editTransDialog(element)">
                                <input matInput type="text" maxlength="50" readonly="true" value="000000" [ngModel]="element.transactionQuantity">
                                <span matSuffix>
                                    <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                                </span>
                            </mat-form-field>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="allocated_pick">
                        <th mat-header-cell *matHeaderCellDef> Allocated Pick </th>
                        <td mat-cell *matCellDef="let element"> {{element.allocPick}} </td>
                    </ng-container>

                    <ng-container matColumnDef="allocated_put">
                        <th mat-header-cell *matHeaderCellDef> Allocated Put </th>
                        <td mat-cell *matCellDef="let element"> {{element.allocPut}} </td>
                    </ng-container>
                    <!-- Action Column -->
                    <ng-container matColumnDef="action" stickyEnd>

                        <th mat-header-cell *matHeaderCellDef style="border: 0;height: 66px; padding-left:65px;">
                        </th>

                        <td mat-cell *matCellDef="let element" style="border: 0; padding-left: 24px; background: #fff;">

                            <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="" class="circle-icon-o"
                                appearance="outline">
                                <mat-icon>more_horiz</mat-icon>
                            </button>

                            <mat-menu #appMenu="matMenu">
                                <button mat-menu-item (click)="viewItemInInventoryMaster(element)">View Item in Inventory Master</button>
                            </mat-menu>

                        </td>

                    </ng-container>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell " [attr.colspan]="displayedColumns.length">
                          No data available in table.
                        </td>
                    </tr>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                        style=" background-color: #F9F9FF;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </ng-scrollbar>
        </div>
        <div class="d-flex justify-content-between bg-white">
            <mat-paginator [length]="tableDataTotalCount" [pageSize]="tablePayloadObj.length"
                [pageSizeOptions]="[10,15,20,25,50,100]" (page)="paginatorChange($event)"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
<div>
    <button mat-flat-button color="primary" class="w-100 btn-lg" (click)="processReplenishments()">
        Process Replenishments
    </button>
</div>