<mat-tab-group dynamicHeight>
  <mat-tab label="Employees">
    <div class="employees-tab g-tab">
      <div class="container-fluid p-0">
        <div class="row">

          <!-- left side for details -->
          <div class="col-7">
            <mat-card class="mat-elevation-z g-card">
              <mat-card-content>
                <div class="d-flex justify-content-between align-items-center">
                  <h2 class="card-header-title mb-0 d-flex align-items-center">
                    <div class="mat-icon-wrap me-lg-3" *ngIf="isLookUp">
                      <span class="material-symbols-outlined" style="cursor:pointer;" (click)="backEmpAction()">
                        arrow_back
                      </span>
                    </div>
                    <div class="mat-icon-wrap me-lg-3">
                      <span class="material-symbols-outlined">
                        assignment_ind
                      </span>
                    </div>
                    <span>Employees</span>
                  </h2>
                  <mat-form-field class="action-dropdown cs-expand" appearance="fill">
                    <mat-label>Actions</mat-label>
                    <mat-select class="employees-action" [disabled]="!isLookUp"
                      (selectionChange)="actionDialog($event.value, empData, $event)">
                      <mat-option value="edit">Edit</mat-option>
                      <mat-option value="delete">Delete</mat-option>
                      <!-- <mat-option value="back">Back</mat-option> -->
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>
                <div class="emp-details-table details-wrap g-details-wrap {{!isLookUp ? 'box-border' : ''}}"
                  *ngIf="!isLookUp">

                  <!-- employee lookup here -->
                  <app-employees-lookup [childLookUp]="isLookUp" (updateIsLookUp)="updateIsLookUp($event)">
                  </app-employees-lookup>

                </div>
                <div class="employee-details details-wrap g-details-wrap" *ngIf="isLookUp">
                  <div class="g-detail">
                    <label class="g-field-label">Employee Lookup</label>
                    <div class="g-field-content">{{empData.firstName }} {{empData.lastName }}</div>
                  </div>
                  <div class="g-detail">
                    <label class="g-field-label">MI</label>
                    <div class="g-field-content">{{empData.mi }}</div>
                  </div>
                  <div class="g-detail">
                    <label class="g-field-label">First Name</label>
                    <div class="g-field-content">{{empData.firstName }}</div>
                  </div>
                  <div class="g-detail">
                    <label class="g-field-label">Last Name</label>
                    <div class="g-field-content">{{empData.lastName }}</div>
                  </div>
                  <div class="g-detail">
                    <label class="g-field-label">Username</label>
                    <div class="g-field-content">{{empData.username }}</div>
                  </div>
                  <div class="g-detail">
                    <label class="g-field-label">Email Address</label>
                    <div class="g-field-content">j{{empData.emailAddress }}</div>
                  </div>
                  <div class="g-detail">
                    <label class="g-field-label">Access Level</label>
                    <div class="g-field-content">{{empData.accessLevel }}</div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <!-- Right side for actions -->
          <div class="col-5">
            <mat-card class="mat-elevation-z g-card">
              <mat-card-content>
                <mat-tab-group dynamicHeight class="mini-tab-labels">
                  <mat-tab label="BulkPro Settings">
                    <div class="bulkpro-settings-tab g-tab bg-white">

                      <!-- Zones Card -->
                      <div class="g-action-card g-action-card-disabled mb-3">
                        <div class="card w-100">
                          <div class="card-header text-center">
                            Zones
                          </div>

                          <div class="card-body">
                            <div class="p-2">
                              <div class="search-box zone-search-box">
                                <div class="d-flex g-mini-search-box">
                                  <mat-form-field class="w-100" appearance="fill">
                                    <span class="material-symbols-outlined icon-search">
                                      search
                                    </span>
                                    <input type="text" placeholder="Search Zones" aria-label="Search zone-search-box" matInput
                                      (keyup)="zoneFilter($event)">
                                  </mat-form-field>
                                  <button mat-flat-button color="primary" class=" mat-button-icon"
                                    (click)="addZoneDialog()" [disabled]="!isLookUp">
                                    <span class="material-symbols-outlined">
                                      add
                                    </span>
                                  </button>
                                </div>
                                <ng-scrollbar class="mat-table-scrollbar" style="height: 200px">
                                  <table mat-table [dataSource]="employee_fetched_zones" matSort
                                    (matSortChange)="announceSortChange($event)" class="g-card-table table-minimal-action-buttons">

                                    <!-- <tr class="mat-row" *matNoDataRow>
                                      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                                        No data matching the filter.
                                      </td>
                                    </tr> -->
                                    <!-- Start Location Column -->
                                    <ng-container matColumnDef="zones">
                                      <th width="90%" mat-header-cell *matHeaderCellDef>Zone</th>
                                      <td width="90%" mat-cell *matCellDef="let element"> {{element}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                      <th width="10%" mat-header-cell *matHeaderCellDef>Action</th>
                                      <td width="10%" mat-cell
                                        *matCellDef="let element">
                                        <button mat-icon-button aria-label="Delete" (click)="deleteZone(element)">
                                          <mat-icon class="icon-circle-cancel">close</mat-icon>
                                        </button>
                                        <!-- <button mat-icon-button aria-label="Edit">
                                          <mat-icon class="icon-circle-edit">border_color</mat-icon>
                                        </button> -->

                                      </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="zoneColumns; sticky:true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: zoneColumns;"></tr>
                                  </table>
                                </ng-scrollbar>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                      <!-- Location Card -->
                      <div class="g-action-card g-action-card-disabled mb-3">
                        <div class="card w-100 overflow-hidden">
                          <div class="card-header text-center">
                            Locations
                          </div>

                          <div class="card-body">
                            <div class="p-2">
                              <div class="search-box zone-search-box">
                                <div class="d-flex g-mini-search-box">
                                  <mat-form-field class="w-100" appearance="fill">
                                    <span class="material-symbols-outlined icon-search">
                                      search
                                    </span>
                                    <input type="text" placeholder="Search locations" aria-label="Search Locations"
                                      matInput (keyup)="applyFilter($event)">
                                  </mat-form-field>
                                  <button mat-flat-button color="primary" class=" mat-button-icon"
                                    (click)="addLocationDialog()" [disabled]="!isLookUp">
                                    <span class="material-symbols-outlined">
                                      add
                                    </span>
                                  </button>
                                </div>
                                <ng-scrollbar class="mat-table-scrollbar" style="height: 200px">
                                  <table mat-table [dataSource]="location_data_source" matSort
                                    (matSortChange)="announceSortChange($event)"
                                    class="g-card-table employee-location-table table-minimal-action-buttons">
                                    <!-- <tr class="mat-row" *matNoDataRow>
                                      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                                        No data matching the filter.
                                      </td>
                                    </tr> -->

                                    <!-- Start Location Column -->
                                    <ng-container matColumnDef="start_location">
                                      <th width="40%" mat-header-cell *matHeaderCellDef mat-sort-header>Start Location
                                      </th>
                                      <td width="40%" mat-cell *matCellDef="let element"> {{element.startLocation}}
                                      </td>
                                    </ng-container>

                                    <!-- End Location Column -->
                                    <ng-container matColumnDef="end_location">
                                      <th width="40%" mat-header-cell *matHeaderCellDef mat-sort-header>End Location
                                      </th>
                                      <td width="40%" mat-cell *matCellDef="let element"> {{element.endLocation}} </td>
                                    </ng-container>

                                    <!-- Delete Location Column -->
                                    <ng-container matColumnDef="delete_location">
                                      <th width="20%" mat-header-cell *matHeaderCellDef>Action</th>
                                      <td width="20%" mat-cell
                                        *matCellDef="let element">
                                        <button mat-icon-button aria-label="Delete Location"
                                          (click)="deleteLocation(element)">
                                          <mat-icon class="icon-circle-cancel">close</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="Edit">
                                          <mat-icon class="icon-circle-edit">border_color</mat-icon>
                                        </button>
                                      </td>

                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>
                                </ng-scrollbar>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>



                      <!-- Orders Card -->
                      <div class="g-action-card g-action-card-disabled mb-3">
                        <div class="card w-100">
                          <div class="card-header text-center">
                            Orders
                          </div>

                          <div class="card-body">
                            <div class="p-2">
                              <div class="g-details-wrap my-3" *ngIf="isLookUp">
                                <div class="g-detail">
                                  <div class="g-field-content">{{max_orders}}</div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Employee Pick Levels" [disabled]="!isLookUp">
                    <app-employee-pickup-level [pickUplevels]="pickUplevels"></app-employee-pickup-level>
                  </mat-tab>

                  <mat-tab label="Function Allowed" [disabled]="!isLookUp" *ngIf="env === 'DB'">
                    <div class="groups-allowed-tab g-tab bg-white">

                      <div class="g-action-card g-action-card-disabled mb-3">
                        <div class="card w-100 text-center">

                          <div class="card-body">
                            <div class="p-2">
                              <div class="search-box zone-search-box">
                                <div class="d-flex g-mini-search-box box-bottom-hr pb-4">
                                  <mat-form-field class="w-100" appearance="fill">
                                    <span class="material-symbols-outlined icon-search">
                                      search
                                    </span>
                                    <input type="text" placeholder="Search Functions allowed"
                                      aria-label="Search Group Allowed" matInput [(ngModel)]="searchfuncAllowed">
                                  </mat-form-field>
                                  <button mat-flat-button color="primary" class=" mat-button-icon"
                                    (click)="groupAllowedDialog()">
                                    <span class="material-symbols-outlined">
                                      add
                                    </span>
                                  </button>
                                </div>
                                <mat-list class="zones-list g-card-list" role="list">
                                  <ng-scrollbar style="height: 200px">
                                    <mat-list-item role="listitem"
                                      *ngFor="let groups_allowed of employee_group_allowed | customFuncAllowedSearch:searchfuncAllowed;let i = index">
                                      <span class="list-label zone-list-label">
                                        {{groups_allowed}}
                                      </span>
                                      <button mat-icon-button aria-label="Delete Group"
                                        (click)="deleteGroupAllowed(groups_allowed)">
                                        <mat-icon class="icon-circle-cancel">close</mat-icon>
                                      </button>
                                    </mat-list-item>
                                  </ng-scrollbar>

                                </mat-list>

                              </div>
                            </div>
                          </div>

                        </div>
                      </div>


                    </div>
                  </mat-tab>
                  <mat-tab label="Group Allowed" [disabled]="!isLookUp" *ngIf="env !== 'DB'">
                    <div class="groups-allowed-tab g-tab bg-white">

                      <div class="g-action-card g-action-card-disabled mb-3">
                        <div class="card w-100 text-center">

                          <div class="card-body">
                            <div class="p-2">
                              <div class="search-box zone-search-box">
                                <div class="d-flex g-mini-search-box">
                                  <mat-form-field class="w-100" appearance="fill">
                                    <span class="material-symbols-outlined icon-search">
                                      search
                                    </span>
                                    <input type="text" placeholder="Search Groups Allowed"
                                      aria-label="Search Groups Allowed" matInput [(ngModel)]="searchGrpAllowed">
                                  </mat-form-field>
                                  <button mat-flat-button color="primary" class=" mat-button-icon"
                                    (click)="grpAllowedDialog()">
                                    <span class="material-symbols-outlined">
                                      add
                                    </span>
                                  </button>
                                </div>
                                <mat-list class="zones-list g-card-list" role="list">
                                  <ng-scrollbar class="mat-table-scrollbar" style="height: 200px">
                                    <table mat-table [dataSource]="groupAllowedList" matSort
                                      (matSortChange)="announceSortChange($event)" class="g-card-table table-minimal-action-buttons">

                                      <!-- <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" [attr.colspan]="groupsColumns.length">
                                          No data matching the filter.
                                        </td>
                                      </tr> -->
                                      <!-- Start Location Column -->
                                      <ng-container matColumnDef="groups">
                                        <th width="90%" mat-header-cell *matHeaderCellDef>Group</th>
                                        <td width="90%" mat-cell *matCellDef="let element"> {{element.groupName}} </td>
                                      </ng-container>
                                      <ng-container matColumnDef="actions">
                                        <th width="10%" mat-header-cell *matHeaderCellDef>Action</th>
                                        <td width="10%" mat-cell
                                          *matCellDef="let element">
                                          <button mat-icon-button aria-label="Delete"
                                            (click)="deleteGrpAllowed(element)">
                                            <mat-icon class="icon-circle-cancel">close</mat-icon>
                                          </button>
                                          <!-- <button mat-icon-button aria-label="Edit">
                                          <mat-icon class="icon-circle-edit">border_color</mat-icon>
                                        </button> -->

                                        </td>
                                      </ng-container>

                                      <tr mat-header-row *matHeaderRowDef="groupsColumns; sticky:true"></tr>
                                      <tr mat-row *matRowDef="let row; columns: groupsColumns;"></tr>
                                    </table>

                                    <!-- below list is converted to above table -->
                                    <!-- <mat-list-item role="listitem"
                                      *ngFor="let grp_allowed of groupAllowedList | custumGrpAllowedSearch:searchGrpAllowed;let i = index">
                                      <span class="list-label zone-list-label">
                                        {{grp_allowed.groupName}}
                                      </span>
                                      <button mat-icon-button aria-label="Delete Zone"
                                        (click)="deleteGrpAllowed(grp_allowed)">
                                        <mat-icon class="icon-circle-cancel">close</mat-icon>
                                      </button>
                                    </mat-list-item> -->

                                  </ng-scrollbar>

                                </mat-list>

                              </div>
                            </div>
                          </div>

                        </div>
                      </div>


                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

    </div>
  </mat-tab>

  <!-- Groups Tab -->
  <mat-tab label="Groups">
    <div class="groups-tab g-tab">
      <div class="container-fluid p-0">
        <div class="row">
          <!-- left side for details -->
          <div class="col-5">
            <mat-card class="mat-elevation-z g-card">
              <mat-card-content>
                <div class="d-flex justify-content-between align-items-center">
                  <h2 class="card-header-title mb-0 d-flex align-items-center">
                    <div class="mat-icon-wrap me-lg-3" *ngIf="isGroupLookUp" (click)="backGroupAction()">
                      <span class="material-symbols-outlined" style="cursor:pointer;">
                        arrow_back
                      </span>
                    </div>
                    <div class="mat-icon-wrap me-lg-3">
                      <span class="material-symbols-outlined">
                        diversity_2
                      </span>
                    </div>
                    <span>Groups</span>
                  </h2>
                  <mat-form-field class="action-dropdown" appearance="fill">
                    <mat-label>Actions</mat-label>
                    <mat-select class="employees-action" [disabled]="!isGroupLookUp"
                      (selectionChange)="actionGroupDialog($event.value, grpData, $event)">
                      <mat-option value="delete">Delete</mat-option>
                      <!-- <mat-option value="back">Back</mat-option> -->
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="groups-details details-wrap g-details-wrap" *ngIf="!isGroupLookUp">

                  <!-- groups lookup here -->
                  <app-groups-lookup [childGroupLookUp]="isGroupLookUp" (updateGrpLookUp)="updateGrpLookUp($event)">
                  </app-groups-lookup>

                </div>
                <div class="group-details details-wrap g-details-wrap" *ngIf="isGroupLookUp">
                  <div class="g-detail">
                    <label class="g-field-label">Group Name</label>
                    <div class="g-field-content">{{grpData.groupName }}</div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <!-- Right side for actions -->
          <div class="col-7">
            <mat-card class="mat-elevation-z g-card">
              <mat-card-content>
                <div class="row align-items-center">
                  <div class="col-6">
                    <h4 class="card-header-subtitle mb-0">Assigned Functions</h4>
                  </div>
                  <div class="col-6">
                    <button mat-flat-button class="form-button-submit" color="primary" style="float: right;"
                      (click)="saveAssignedFunc()">Save</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <app-unassigned-functions (addFunction)="addPermission($event)"
                      [unassignedFunctions]="unassignedFunctions"></app-unassigned-functions>
                  </div>
                  <div class="col-6">
                    <!-- <app-assigned-functions ></app-assigned-functions> -->

                    <app-assigned-functions (removeFunction)="removePermission($event)"
                      [assignedFunctions]="assignedFunctions"></app-assigned-functions>

                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <!-- <mat-tab label="Statistics">
    <div class="statistics-tab g-tab">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">
            <app-statistics-lookup></app-statistics-lookup>
          </div>
        </div>
      </div>
    </div>
  </mat-tab> -->
</mat-tab-group>
