<mat-card class="mat-elevation-z g-card br-14 mb-4 h-100 ">
    <mat-card-content>
        <h2 class="card-header-title mb-0 d-flex align-items-center mb-3">
            <div class="mat-icon-wrap me-lg-3">
                <span class="material-symbols-outlined">
                    roller_shades_closed
                </span>
            </div>
            <span>Transaction History</span>
        </h2>
        <h2 class="card-header-title  d-flex align-items-center mb-3">

            <span>Filters</span>
        </h2>
        <div class="card bg-white bg-50 px-4 py-4 br-14 mb-3">
            <div class="row align-items-center mb-3">
                <div class="col-md-12">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor" appearance="outline">
                        <mat-label>Completed Date (start)</mat-label>
                        <input matInput type="text">
                    </mat-form-field>

                </div>
            </div>
            <div class="row align-items-center mb-3">
                <div class="col-md-12">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput type="text">
                    </mat-form-field>

                </div>
            </div>

         

            <div class="row align-items-center mb-3">
                <div class="col-md-12">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor" appearance="outline">
                        <mat-label>Order Number</mat-label>
                        <input matInput type="text">
                    </mat-form-field>

                </div>
            </div>






            <div class="row align-items-center mb-3 ">
                <div class="col-md-12 ">

                    <button mat-button mat-stroked-button color="default-btn"
                        class="button-add-all bg-white br-18 w-100 ">

                        Reset To Today's Date

                    </button>
                </div>
            </div>

        </div>


    </mat-card-content>

</mat-card>