
<div class="row py-4 br-14"  [formGroup]="others">

    <div class="row" style="display: flex;
    justify-content: space-between;">
      <div class="col-md-4 mb-3">
          <mat-form-field class="filter w-100 stats-filters" appearance="outline">
            <mat-label>Unit Cost</mat-label>
            <!-- <div class="row">
                <div class="col-md-2"> -->
                   
                <!-- </div>
                <div class="col-md-10"> -->
                    <input matInput type="number" class="custom-input-number" formControlName="unitCost">
                    <mat-icon style="margin-right: 15px;" matPrefix>attach_money</mat-icon> 
                <!-- </div>                               
            </div> -->
          </mat-form-field>
        </div>

        <div class="col-md-4 mb-3">
            <mat-form-field class="filter w-100 stats-filters" appearance="outline">
              <mat-label>Supplier ID</mat-label>
              <input matInput type="number" class="custom-input-number" formControlName="supplierItemID">
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-3">
            <mat-form-field class="filter w-100 stats-filters" appearance="outline">
              <mat-label>Manufacturer ID</mat-label>
              <input matInput type="number" class="custom-input-number" formControlName="manufacturer">
            </mat-form-field>
          </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <mat-form-field class="filter w-100 stats-filters" appearance="outline">
              <mat-label>Special Features</mat-label>
              <textarea matInput type="number" class="custom-input-number" formControlName="specialFeatures">
                </textarea>
            </mat-form-field>
          </div>
    </div>
  
  </div>