<h1 mat-dialog-title>Add New Group</h1>
<button mat-icon-button class="close-button dialog-close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon">close</mat-icon>
</button>
<div mat-dialog-content>

  <form #groupForm="ngForm" (ngSubmit)="onSend(groupForm)">

    <mat-form-field class="d-block w-100" appearance="outline">
      <mat-label>New Group Name</mat-label>
      <input matInput type="text" name="groupName" required="required" ngModel>
    </mat-form-field>
     
    <mat-dialog-actions align="end">
      <!-- <button mat-button matDialogClose="no" color="danger">Cancel</button> -->
      <button type="submit" mat-raised-button class="form-button-submit" color="primary">Add</button>
  </mat-dialog-actions>

  </form>

</div>

