<div class="container-fluid p-0">
  <form [formGroup]="invMaster" (ngSubmit)="onSubmit(invMaster)">
    <div class="row">
      <div class="col-12">
        <mat-card class="mat-elevation-z g-card">
          <mat-card-content>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <div>
              <h2 class="card-header-title mb-0 d-flex align-items-center">
                <div class="mat-icon-wrap me-lg-3">
                  <span class="material-symbols-outlined">
                    dashboard
                  </span>
                </div>
                <span>Inventory</span>
              </h2>
              </div>
              <div class="d-flex align-items-center gap-12">
                <button mat-flat-button color="primary" class="sm-icon-button">
                  <span class="material-symbols-outlined">
                    keyboard_arrow_left
                  </span>
                </button>
                <div class="text-chrome-600"><b>69</b> of 200</div>
                <button mat-flat-button color="primary" class="sm-icon-button">
                  <span class="material-symbols-outlined">
                    keyboard_arrow_right
                  </span>
                </button>
                <!-- <mat-paginator>
                </mat-paginator> -->
              </div>
            </div>
            <div class="card bg-light-blue bg-50 px-4 py-4 br-14 mb-3">
              <div class="d-flex justify-content-between">
              <div class="d-flex g-mini-search-box gap-20">
                <div class="search-box">
                <mat-form-field class="w-100 bg-white br-14" appearance="fill">
                  <span class="material-symbols-outlined icon-search">
                    search
                  </span>
                  <input type="text" placeholder="Search Zones" aria-label="Search Zones" matInput>
                </mat-form-field>
              </div>
                <div class="br-14 d-flex align-items-center label-purple px-4 f-16">
                  Kit
                </div>
              </div>
              <div class="d-flex gap-12">
              <button mat-raised-button color="primary" class=" mat-button-icon">
                  <span class="material-symbols-outlined">
                    add
                  </span>
                </button>
                <button mat-stroked-button color="warn" class="button-remove-all bg-white" >
                  <mat-icon>block</mat-icon>
                  Clear
                </button>
                <button mat-stroked-button color="primary" class="br-14 bg-white primary-btn" >
                  <mat-icon>clear_all</mat-icon>
                  view locations
                </button>
              </div>
              </div>
            </div>
            <div class="card bg-white bg-50 px-4 py-4 br-14 mb-3" style="min-height: 450px;">
              <mat-tab-group dynamicHeight>
                <mat-tab label="Details">
                  <div class="row">
                    <div class="col-xl-9 col-lg-6">
                      <div class="py-4 br-14">
                        <div class="d-flex gap-20 mb-3">
                          <mat-form-field class="custom-form-field w-100 __grab_cursor" appearance="outline" (click)="openItemNumDialog()">
                            <mat-label>Item No.</mat-label>
                            <span matSuffix>
                              <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                          </span>
                            <input matInput readonly class="__grab_cursor readonly" type="text" formControlName="itemNumber">
                          </mat-form-field>
                          <mat-form-field class="custom-form-field w-100" appearance="outline">
                            <mat-label>Supplier Item ID</mat-label>
                            <input matInput type="text">
                          </mat-form-field>
                        </div>
                        <div class="mb-3">
                          <mat-form-field class="filter w-100 stats-filters" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput type="text"></textarea>
                          </mat-form-field>
                        </div>
                        <div class="d-flex gap-20 mb-3">
                          <mat-form-field class="custom-form-field w-100" appearance="outline">
                            <mat-label>Reorder Point</mat-label>
                            <input matInput type="text">
                          </mat-form-field>
                          <mat-form-field class="custom-form-field w-100" appearance="outline">
                            <mat-label>Replenishment Point</mat-label>
                            <input matInput type="text">
                          </mat-form-field>
                          <mat-form-field class="custom-form-field w-100" appearance="outline" (click)="opencategoryDialog()">
                            <mat-label>Category</mat-label>
                            <span matSuffix>
                              <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                          </span>
                            <input matInput type="text">
                          </mat-form-field>
                        </div>
                        <div class="d-flex gap-20 mb-3">
                          <mat-form-field class="custom-form-field w-100" appearance="outline">
                            <mat-label>Reorder Quantity</mat-label>
                            <input matInput type="text">
                          </mat-form-field>
                          <mat-form-field class="custom-form-field w-100" appearance="outline">
                            <mat-label>Replenishment Level</mat-label>
                            <input matInput type="text">
                          </mat-form-field>
                          <mat-form-field class="custom-form-field w-100" appearance="outline" (click)="opencategoryDialog()">
                            <mat-label>Sub Category</mat-label>
                            <span matSuffix>
                              <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                          </span>
                            <input matInput type="text">
                          </mat-form-field>
                        </div>
                        <div class="d-flex gap-20 mb-5">
                          <mat-form-field class="custom-form-field w-100" appearance="outline" (click)="openUmDialog()" >
                            <mat-label>UM</mat-label>
                            <span matSuffix>
                              <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                          </span>
                            <input matInput type="text">
                          </mat-form-field>
                          <mat-form-field class="custom-form-field w-100" appearance="outline">
                            <mat-label>KanBan Replenishment Point </mat-label>
                            <input matInput type="text">
                          </mat-form-field>
                          <mat-form-field class="custom-form-field w-100" appearance="outline">
                            <mat-label>KanBan Replenishment Level</mat-label>                            
                            <input matInput type="text">
                          </mat-form-field>
                        </div>
                        <div class="d-flex gap-20 justify-content-end">
                          <button mat-stroked-button color="warn" class="button-delete bg-white" (click)="deleteItem($event)">
                            Delete Item
                          </button>
                          <button mat-stroked-button color="primary" class="button-primary-o bg-white" (click)="quarantineDialog()">
                            Quarantine Item
                          </button>
                          <button mat-flat-button color="primary" class="button-primary bg-white" >
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 main-widget">
                      <div class="custom bg-white bg-50 br-14 mb-3">
                        <div class="counter">
                          <div>
                            <h6 class="text-tertiary-900"><b>Quantity</b></h6>
                            <div class="d-flex gap-20 justify-content-center">
                              <div class="employees text-center">
                                <p class="counter-count mb-1 bg-primary-900">{{totalQuantity ?? 0}}</p>
                                <p class="employee-p text-tertiary-900 mb-1">Total</p>
                              </div>
                              <div class="customer text-center">
                                <p class="counter-count mb-1 bg-primary-900">{{wipCount ?? 0}}</p>
                                <p class="customer-p text-tertiary-900 mb-1">WIP</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="custom bg-white bg-50 br-14">
                        <div class="counter">
                          <div>
                            <h6 class="text-tertiary-900"><b>Allocated</b></h6>
                            <div class="d-flex gap-20 justify-content-center">
                              <div class="employees text-center">
                                <p class="counter-count mb-1 bg-primary-900">{{totalPicks ?? 0}}</p>
                                <p class="employee-p text-tertiary-900 mb-1">Picks</p>
                              </div>
                              <div class="customer text-center">
                                <p class="counter-count mb-1 bg-primary-900">{{totalPuts ?? 0}}</p>
                                <p class="customer-p text-tertiary-900 mb-1">PutAway</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="custom bg-white bg-50 br-14">
                        <div class="counter">
                          <div>
                            <h6 class="text-tertiary-900"><b>Transaction</b></h6>
                            <div class="d-flex gap-20 justify-content-center">
                              <div class="employees text-center">
                                <p class="counter-count mb-1 bg-primary-900">{{openCount ?? 0}}</p>
                                <p class="employee-p text-tertiary-900 mb-1">Open</p>
                                <button mat-flat-button color="button-default" class="default-btn bg-white text-primary-900" >
                                  View
                                </button>
                              </div>
                              <div class="customer text-center">
                                <p class="counter-count mb-1 bg-primary-900">{{histCount ?? 0}}</p>
                                <p class="customer-p text-tertiary-900 mb-1">History</p>
                                <button mat-flat-button color="button-default" class="default-btn bg-white text-primary-900" >
                                  View
                                </button>
                              </div>
                              <div class="customer text-center">
                                <p class="counter-count mb-1 bg-primary-900">{{procCount ?? 0}}</p>
                                <p class="customer-p text-tertiary-900 mb-1">Reprocess</p>
                                <button mat-flat-button color="button-default" class="default-btn bg-white text-primary-900" >
                                  View
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Item Setup"><app-item-setup></app-item-setup></mat-tab>
                
              </mat-tab-group>
            </div>
            
            
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </form>
  </div>

  <ng-template #quarantineAction>
  
    <div class="d-flex flex-column align-items-center justify-content-center text-center py-4">
      <div color="warn" class="circle-icon circle-66 circle-danger mb-4">
          <mat-icon color="warn">vpn_lock</mat-icon>
      </div>
      <div>
          <p class="bold text-tritary-900 mb-4">Click submit to quarantine item 11005. This will cause any allocated orders and locations with this item to be deallocated?</p>
          <div class="mb-3">
          <button mat-flat-button color="warn" class="custom-btn button-delete-flat bg-white">
              Submit
          </button>
          </div>
          <div>
            <button mat-stroked-button color="basic" class="custom-btn bg-white" [mat-dialog-close]="true">
              Cancel
            </button>
          </div>
      </div>
      </div>
  </ng-template>