<mat-card class="mat-elevation-z g-card mt-3 mb-3">
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="card-header-title mb-0 d-flex align-items-center">
                <div class="mat-icon-wrap me-lg-3">
                    <span class="material-symbols-outlined">
                        ballot
                    </span>
                </div>
                <span>Batch Setup</span>
            </h2>
            <button type="submit" mat-stroked-button class="btn-regular" color="primary" [matMenuTriggerFor]="appMenu">
                <mat-icon class="material-symbols-outlined">print</mat-icon>
                <span class="material-symbols-outlined icon-expand-more">
                    expand_more
                </span>
            </button>
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item><b>Print Tote/Location Labels</b></button>
                <button mat-menu-item>Print Pick Labels</button>
                <button mat-menu-item>Print Pick List</button>
            </mat-menu>
        </div>
        <div class="row">
            <div [ngClass]="useInZonePickScreen === true ? 'col-xl-12' : 'col-xl-4'">
                <div class="card p-3 mb-2">
                    <div class="row">
                        <div [ngClass]="useInZonePickScreen === true ? 'col-xl-6' : 'col-xl-12'">
                            <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                                <mat-label>Batch ID</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    [(ngModel)]="batchID">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="d-flex gap-12">
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100"
                            style="min-width: 150px;" (click)="onAddBatch('batchWithID')">
                            New Batch with ID
                        </button>
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100"
                            style="min-width: 150px;" (click)="onAddBatch('newBatch')">
                            New Batch
                        </button>
                        <button *ngIf="useInZonePickScreen" mat-flat-button color="primary"
                            class="primary-button btn-regular w-100" style="min-width: 150px;"
                            (click)="openBlossomToteDialogue()">
                            Blossom
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-8" *ngIf="!useInZonePickScreen">
                <div class="card p-3 mb-2">
                    <mat-radio-group color="primary" class="d-flex"  name="radioOpt1" 
                    [(ngModel)]="pickType">
                        <div class="d-flex w-100 pe-2 align-items-center">
                            <mat-radio-button class=" custom-horizontal-radio" value="MixedZones">
                            </mat-radio-button>
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <mat-label>Mixed Zones</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    value="{{countInfo?.mixed}}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="d-flex w-100 pe-2 align-items-center">
                            <mat-radio-button class=" custom-horizontal-radio" value="off_carousel">
                            </mat-radio-button>
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <mat-label>Off - Carousel</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    value="{{countInfo?.offCarousel}}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="d-flex w-100 pe-2 align-items-center">
                            <mat-radio-button class=" custom-horizontal-radio" value="caroussel">
                            </mat-radio-button>
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <mat-label>Carousel</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    value="{{countInfo?.carousel}}" disabled="true">
                            </mat-form-field>
                        </div>
                    </mat-radio-group>
                    <div class="d-flex gap-12 mt-2">
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100"
                            style="min-width: 150px;">
                            Refresh Order Count
                        </button>
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100"
                            style="min-width: 150px;" (click)="openPickToteDialogue()">
                            Pick Batch Manager
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<div class="row">
    <div [ngClass]="useInZonePickScreen === true ? 'col-xl-6' : 'col-xl-12'">
        <mat-card class="mat-elevation-z g-card mb-3">
            <mat-card-content class=" h-100">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="card-header-title mb-0 d-flex align-items-center">
                        <div class="mat-icon-wrap me-lg-3">
                            <span class="material-symbols-outlined">
                                print
                            </span>
                        </div>
                        <span>Print Existing Pick Batches</span>
                    </h2>
                    <button type="submit" mat-stroked-button class="btn-regular" color="primary"
                        [matMenuTriggerFor]="appMenu1">
                        <mat-icon class="material-symbols-outlined">print</mat-icon>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </button>
                    <mat-menu #appMenu1="matMenu">
                        <button mat-menu-item><b>Print Tote/Location Labels</b></button>
                        <button mat-menu-item>Print Pick Labels</button>
                        <button mat-menu-item>Print Pick List</button>
                        <button mat-menu-item>Print Case Labels</button>
                        <button mat-menu-item>Print Pick Batch List</button>
                    </mat-menu>
                </div>
                <div class="card p-3 mb-2">
                    <div class="row">
                        <div class="col-xl-5">
                            <mat-form-field class="custom-form-field w-100 position-relative" appearance="outline">
                                <mat-label>Batch ID</mat-label>
                                <input type="text" [formControl]="pickBatches" aria-label="Number" matInput
                                    [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption
                                    #auto="matAutocomplete">
                                    <h6 class="ctl_name ac-dropdown-label"><span>Batch ID</span></h6>
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        <div class="ctl_option ac-dropdown-option">
                                            <span>{{option}}</span>
                                        </div>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>

                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-6" *ngIf="useInZonePickScreen">
        <mat-card class="mat-elevation-z g-card mb-3">
            <mat-card-content>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="card-header-title mb-0 d-flex align-items-center">
                        <div class="mat-icon-wrap me-lg-3">
                            <span class="material-symbols-outlined">
                                print
                            </span>
                        </div>
                        <span>Order Number Select</span>
                    </h2>
                    <div class="text-center"> <span class="label label-gray px-2 f-14">Zones:&nbsp;<b><span
                                    *ngFor="let zone of allZones"> {{zone}} </span></b></span></div>
                </div>

                <div class="row align-items-center">
                    <div class="col-xl-8">

                        <mat-form-field class="custom-form-field w-100" appearance="outline">
                            <mat-label>Order No.</mat-label>
                            <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                        </mat-form-field>

                    </div>
                    <div class="col-xl-4">
                        <button mat-flat-button [matMenuTriggerFor]="orderMenu" color="primary"
                            class="primary-button btn-regular w-100" style="min-width: 150px;">
                            View Orders
                            <mat-icon matSuffix> expand_more</mat-icon>
                        </button>
                        <mat-menu #orderMenu="matMenu" xPosition="before">
                            <button mat-menu-item (click)="openViewOrdersDialogue('All')"><b
                                    class="text-tertiary-900">View All Orders</b></button>
                            <button mat-menu-item (click)="openViewOrdersDialogue('NonReplen')">View Non Replenishment
                                Orders</button>
                            <button mat-menu-item (click)="openViewOrdersDialogue('Replen')">View Replenishment
                                Orders</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="mt-2">
                    <button mat-flat-button color="primary" class="primary-button btn-regular w-100"
                        style="min-width: 150px;" (click)="openWorkstationZone()">
                        Select Workstation Zones
                    </button>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>

<mat-card class="mat-elevation-z g-card mb-3">
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="card-header-title mb-0 d-flex align-items-center">
                <div class="mat-icon-wrap me-lg-3">
                    <span class="material-symbols-outlined">
                        inbox
                    </span>
                </div>
                <span>Totes</span>
            </h2>
            <mat-form-field class="action-dropdown" appearance="outline">
                <mat-label>Actions</mat-label>
                <mat-select class="employees-action" placeholder="Actions"
                    (selectionChange)="onToteAction($event.value)">
                    <mat-option value="fill_all_tote"><b class="text-tertiary-900">Fill All Empty Tote
                            IDs</b></mat-option>
                    <mat-option value="fill_next_tote">Fill Next Empty Tote ID</mat-option>
                    <mat-option value="clear_all_totes">Clear All Totes</mat-option>
                    <mat-option value="clear_all_orders">Clear All Orders</mat-option>
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">
                    expand_more
                </span>
            </mat-form-field>
        </div>
        <div class="card br-14 table-responsive borderless px-0 mb-3">
            <ng-scrollbar track="all" class="mat-table-scrollbar" style="height: 280px;">
                <table mat-table [dataSource]="dataSource" class="w-100">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> Position </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="pe-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <input matInput type="text" #specialFeature maxlength="255"
                                        value="{{element.position}}" disabled>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="toteid">
                        <th mat-header-cell *matHeaderCellDef> Tote ID </th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                            <div class="pe-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">

                                    <input matInput type="text" #specialFeature maxlength="255"
                                        [(ngModel)]="element.toteID" (focusout)="checkDuplicateTote(element, i)">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="orderno">
                        <th mat-header-cell *matHeaderCellDef> Order No. </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="pe-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">

                                    <input matInput type="text" #specialFeature maxlength="255"
                                    [(ngModel)]="element.orderNumber">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="priority">
                        <th mat-header-cell *matHeaderCellDef [hidden]="useInZonePickScreen"> Priority </th>
                        <td mat-cell *matCellDef="let element" [hidden]="useInZonePickScreen">
                            <div class="pe-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <input matInput type="text" #specialFeature maxlength="255" value="" disabled>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="other">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex justify-content-end">
                                <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label=""
                                    class="circle-icon-o" appearance="outline">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>

                                <mat-menu #appMenu="matMenu">
                                    <button mat-menu-item><b class="text-tertiary-900">View Order</b></button>
                                    <button mat-menu-item>Clear</button>
                                    <button mat-menu-item>Print Tote Labels</button>
                                    <button mat-menu-item>Print Pick Labels</button>
                                </mat-menu>
                            </div>
                        </td>
                    </ng-container>




                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </tr>
                </table>
            </ng-scrollbar>
        </div>
    </mat-card-content>
</mat-card>
<div class="d-flex">
    <button mat-flat-button color="primary" class="primary-button btn-lg w-100" style="min-width: 150px;"
        (click)="confirmProcessSetup()">
        Process Batch
    </button>
</div>

<ng-template #batchPickID>

    <div class="d-flex flex-column align-items-center justify-content-center text-center py-4">
        <div color="warn" class="circle-icon circle-66 circle-primary mb-4 text-primary-900">
            <mat-icon color="primary">ballot</mat-icon>
        </div>
        <div>
            <h4 class="bold text-primary-900 mb-4">New Batch</h4>
            <p class="bold mb-4">Create a New Batch with the next Batch Pick ID ?</p>
            <div class="mb-3">
                <button mat-flat-button color="primary" class="custom-btn w-100" (click)="confirmAddBatchDialog()">
                    Ok
                </button>
            </div>
            <div>
                <button mat-stroked-button color="basic" class="custom-btn bg-white w-100" (click)="closeBatchDialog()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #processSetup>

    <div class="d-flex flex-column align-items-center justify-content-center text-center py-4">
        <div color="warn" class="circle-icon circle-66 circle-primary mb-4 text-primary-900">
            <mat-icon color="primary">ballot</mat-icon>
        </div>
        <div>
            <h4 class="bold text-primary-900 mb-4">Process Batch</h4>
            <p class="bold mb-4">Process the current setup?</p>
            <div class="mb-3">
                <button mat-flat-button color="primary" class="custom-btn w-100" (click)="onPrcessBatch()">
                    Ok
                </button>
            </div>
            <div>
                <button mat-stroked-button color="basic" class="custom-btn bg-white w-100" (click)="closeBatchDialog()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</ng-template>