<mat-tab-group dynamicHeight [(selectedIndex)]="selectedIndex">
    <mat-tab label="Tote Setup">
        <mat-card class="mat-elevation-z g-card mt-3 mb-4">
            <mat-card-content>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="card-header-title mb-0 d-flex align-items-center">
                        <div class="mat-icon-wrap me-lg-3">
                            <span class="material-symbols-outlined">
                                ballot
                            </span>
                        </div>
                        <span>Batch Setup</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card p-3 mb-2">
                            <div class="d-flex gap-12 mb-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline" [floatLabel]="getFloatLabelValueItem()" [hideRequiredMarker]="hideRequiredControlItem.value">
                                    <mat-label>Batch ID</mat-label>
                                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [(ngModel)]="batchId" [matAutocomplete]="item" (ngModelChange)="this.searchByItem.next($event)">

                                    <mat-autocomplete class="card custom-scroll" #item="matAutocomplete">                            
                                      <h6 class ="card-header matAutoCompHeader ">
                                        <span style="width:  140px;">Batch ID</span> 
                                        <span style="width:  140px;">Zone Label</span> 
                                      </h6>
                                    
                                      <mat-option *ngFor="let option of searchAutocompleteItemNum" [value]="option.batchID" class="matAutoCompTableContent" style="line-height: 24px; height:auto ;">
                                        <div class="loc_option"  (click)="getRow(option.batchID)" >
                                          <span  class="searchColumn" style="width:  140px;">{{option.batchID}}</span> 
                                          <span  class="searchColumn" style="width:  140px; white-space: normal;">{{option.zoneLabel}}</span> 
                                        </div>
                                      </mat-option>
                                    </mat-autocomplete>

                                </mat-form-field>

                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <mat-label>Status</mat-label>
                                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [(ngModel)]="status" disabled>
                                </mat-form-field>
                            </div>
                            <div class="d-flex gap-12">
                                <button mat-flat-button color="primary" class="primary-button btn-regular w-100" (click)="createNewBatch('1')">
                                    New Batch with ID
                                </button>
                                <button mat-flat-button color="primary" class="primary-button btn-regular w-100" (click)="createNewBatch('')">
                                    New Batch
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card p-3">
                            <div class="d-flex gap-12 mb-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <mat-label>Assigned Zones</mat-label>
                                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [(ngModel)]="assignedZones" disabled>
                                </mat-form-field>
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <mat-label>Default Cells</mat-label>
                                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [(ngModel)]="cellSize" disabled>
                                </mat-form-field>
                            </div>
                            <div class="d-flex gap-12">
                                <button mat-flat-button color="primary" class="primary-button btn-regular w-100" (click)="openSelectZonesDialogue()">
                                    Select Zones
                                </button>
                                <button mat-flat-button color="primary" class="primary-button btn-regular w-100" (click)="setToDefaultQuantity()">
                                    Set To Default Cell Quantity
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z g-card mt-3 mb-4">
            <mat-card-content>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="card-header-title mb-0 d-flex align-items-center">
                        <div class="mat-icon-wrap me-lg-3">
                            <span class="material-symbols-outlined">
                                inbox
                            </span>
                        </div>
                        <span>Totes</span>
                    </h2>
                    <mat-form-field class="action-dropdown" appearance="outline">
                        <mat-label>Actions</mat-label>
                        <mat-select class="employees-action" [(ngModel)]="actionDropDown" #actionRef1 (selectionChange)="gridAction($event.value)">
                          <mat-option value="assignAll">Assign all IDs</mat-option>
                          <mat-option value="delete">Print Tote/Location Labels</mat-option>
                          <!-- <mat-option value="back">Back</mat-option> -->
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                          expand_more
                        </span>
                      </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-xl-6">
                      <div class="d-flex gap-12 mb-2">
                        <mat-form-field class="custom-form-field w-100" appearance="outline">
                          <mat-label>Enter Tote ID</mat-label>
                          <input (keyup.enter)="updateToteID($event)" matInput type="text" [(ngModel)]="toteID">
                        </mat-form-field>
                      </div>
                  </div>
                </div>
                <div class="card br-14 table-responsive borderless px-0">
                    <ng-scrollbar style="height: 620px;" track="all" class="mat-table-scrollbar">                  

                      <table mat-table [dataSource]="dataSource" class="custom-table table-fix">

                        <!-- Position Column -->
                        <ng-container matColumnDef="positions">
                          <th mat-header-cell *matHeaderCellDef> Position</th>
                          <td mat-cell *matCellDef="let element">
                            <div class="pe-2">
                              <mat-form-field class="custom-form-field w-100" appearance="outline">

                                <input matInput type="text" #specialFeature maxlength="255" [value]="element.position" disabled>
                              </mat-form-field>
                            </div>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="cells">
                          <th mat-header-cell *matHeaderCellDef  style="width:35%"> Cells </th>
                          <td mat-cell *matCellDef="let element">
                            <div class="pe-2">
                              <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <input matInput type="text" [disabled]="element.locked ? true : false" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" #specialFeature maxlength="255" [value]="element.cells" (keydown)="onToteChange($event,element.position,'1')" (keyup)="onToteChange($event,element.position,'1')" (change)="onToteChange($event,element.position,'1')" (keypress)="onToteChange($event,element.position,'1')"  (keypress)="onToteChange($event,element.position,'1')">
                              </mat-form-field>
                            </div>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="toteid">
                          <th mat-header-cell *matHeaderCellDef  style="width:35%"> Tote ID</th>
                          <td mat-cell *matCellDef="let element">
                            <div class="pe-2 d-flex gap-12 align-items-center">
                              <mat-form-field class="custom-form-field w-100" appearance="outline" (click)="element.locked ? false : openTotesDialogue(element.position)">
                                <span matSuffix>
                                    <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                                  </span>
                                <input matInput readonly="readonly" type="text" #specialFeature maxlength="255" [value]="element.toteid" (keydown)="onToteChange($event,element.position)" (keyup)="onToteChange($event,element.position)" (change)="onToteChange($event,element.position)" (keypress)="onToteChange($event,element.position)"  (keypress)="onToteChange($event,element.position)">
                              </mat-form-field>   
                              
                              <button *ngIf="element.locked" matTooltip="Allocated in Open Transaction" mat-mini-fab color="Default" class="button-default-i icon-button-8br"> 
                                <mat-icon style="color:#f0ad4e;">flag</mat-icon>
                              </button>
                              
                            </div>
                          </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="save">
                          <th mat-header-cell *matHeaderCellDef></th>
                          <td mat-cell *matCellDef="let element">
                            <div class="d-flex justify-content-end">
                                <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="" class="circle-icon-o" appearance="outline">
                                    <mat-icon>more_horiz</mat-icon>
                                  </button>
                
                                  <mat-menu #appMenu="matMenu">
                                    <button mat-menu-item>Print</button>
                                    <button [disabled]="element.locked ? true : false" mat-menu-item (click)="assignToteAtPosition(element,1)">Clear</button>
                                    <button [disabled]="element.locked ? true : false" mat-menu-item (click)="assignToteAtPosition(element)">Assign Next ID</button>
                                  </mat-menu>
                            </div>
                          </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                      </table>
                    </ng-scrollbar>
                  </div>
            </mat-card-content>
        </mat-card>
        <div class="d-flex">
          <button mat-flat-button color="primary" class="primary-button btn-lg w-100" style="min-width: 150px;" (click)="processIfZoneSelected()">
              Process Batch
          </button>
        </div>
    </mat-tab>
    <mat-tab label="Process Put Aways" #secondTab>
      <mat-card class="mat-elevation-z g-card mt-3 mb-4">
        <mat-card-content>
          
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="card-header-title mb-0 d-flex align-items-center">
                    <div class="mat-icon-wrap me-lg-3">
                        <span class="material-symbols-outlined">
                            ballot
                        </span>
                    </div>
                    <span>Choose Batch</span>
                </h2>
            </div>

            <div class="card p-3 mb-2">
              <div class="row align-items-center">
                <div class="col-xl-4">
                  <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Batch ID</mat-label>
                    
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput 
                        [(ngModel)]="batchId2" [matAutocomplete]="item2" type="text" #batchVal
                        (ngModelChange)="this.searchByItem.next(1)" (focusout)="onFocusOutBatchID(batchVal.value)">

                    <mat-autocomplete class="card custom-scroll" #item2="matAutocomplete">
            
                      <h6 class="card-header matAutoCompHeader">
                        <span style="width: 140px;">Batch ID</span>
                        <span style="width: 140px;">Description</span>
                      </h6>
                    
                      <mat-option *ngFor="let option of searchAutocompleteItemNum2" [value]="option.batchID" class="matAutoCompTableContent">
                        <div class="loc_option" (click)="fillToteTable(option.batchID)">
                          <span class="searchColumn" style="width: 140px;">{{option.batchID}}</span> 
                          <span class="searchColumn" style="width:  140px;">{{option.zoneLabel}}</span> 
                        </div>
                      </mat-option>

                    </mat-autocomplete>

                  </mat-form-field>
                </div>
                <div class="col-xl-3 offset-xl-5">
                  <button [disabled]="!rowSelected"  mat-flat-button color="warn" class="btn-regular w-100" (click)="openDeleteBatchDialogue()">
                    Delete Batch
                  </button>
                </div>
              </div>
            </div>

        </mat-card-content>
      </mat-card>

      <mat-card class="mat-elevation-z g-card mt-3 mb-4">
        <mat-card-content>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="card-header-title mb-0 d-flex align-items-center">
                    <div class="mat-icon-wrap me-lg-3">
                        <span class="material-symbols-outlined">
                          control_point_duplicate
                        </span>
                    </div>
                    <span>Assign Transaction to Batch/Tote</span>
                </h2>
            </div>

            <div class="row align-items-center">
              <div class="col-xl-4">
                <div class="card p-3 mb-2">
                  <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Input Type</mat-label>
                    <mat-select #matRef class="employees-action" value="Any" (selectionChange)="selectionChanged($event.value)">
                      <!-- <mat-option value="0"><b>Any</b></mat-option>
                      <mat-option value="print">Item No.</mat-option>
                      <mat-option value="print">Serial No.</mat-option>
                      <mat-option value="print">Lot No.</mat-option> -->
                      <mat-option value="Any">Any</mat-option>
                      <mat-option value="Item Number">Item Number</mat-option>
                      <mat-option value="Serial Number">Serial Number</mat-option>
                      <mat-option value="Lot Number">Lot Number</mat-option>
                      <mat-option value="Host Transaction ID">Host Transaction ID</mat-option>
                      <mat-option value="Scan Code">Scan Code</mat-option>
                      <mat-option value="Supplier Item ID">Supplier Item ID</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                      expand_more
                    </span>
                  </mat-form-field>
                  <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Input Value</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" #inputVal matInput type="text" [(ngModel)]="inputValue" (keypress)="openST($event)">
                  </mat-form-field>
                  <button mat-flat-button color="primary" class="btn-regular w-100" (click)="openSelectionTransactionDialogue()">
                    Assign Transaction To Selected Tote
                  </button>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="card p-3 mb-2">
                  <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Next Put To Location</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [(ngModel)]="nextPutLoc" disabled />
                  </mat-form-field>
                  <div class="row">
                    <div class="col-xl-6">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                      <mat-label>Position</mat-label>
                      <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [(ngModel)]="nextPos" disabled />
                    </mat-form-field>
                    </div>
                    <div class="col-xl-6">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                      <mat-label>Next Cell</mat-label>
                      <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [(ngModel)]="nextCell" disabled />
                    </mat-form-field>
                    </div>
                  </div>
                  
                  <button mat-flat-button color="primary" class="btn-regular w-100" (click)="goToNext()">
                    Go To Next
                  </button>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="card p-3 mb-2">
                  <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Select Position</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="number" [(ngModel)]="postion" #pos (keyup)="selectPosOrTote(0, pos.value)" min="{{minPos}}" max="{{maxPos}}" (change)="selectPosOrTote(0, pos.value)">
                  </mat-form-field>
                  <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Select Tote</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [(ngModel)]="tote" #tote1 (keyup)="selectPosOrTote(1, tote1.value)">
                  </mat-form-field>
                  <button mat-flat-button color="primary" class="btn-regular w-100" (click)="selectPosOrTote(2)">
                    Select
                  </button>
                </div>
              </div>
            </div>

        </mat-card-content>
      </mat-card>

      <mat-card class="mat-elevation-z g-card mt-3 mb-4">
        <mat-card-content>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="card-header-title mb-0 d-flex align-items-center">
              <div class="mat-icon-wrap me-lg-3">
                <span class="material-symbols-outlined">
                  inbox
                </span>
              </div>
              <span>Totes</span>
            </h2>
            <mat-form-field class="action-dropdown" appearance="outline">
              <mat-label>Actions</mat-label>
              <mat-select class="employees-action"  [(ngModel)]="selectedOption"  #actionRef (openedChange)="actionDialog($event)">
                <!-- (click)="openToteTransactionViewDialogue()"> -->
                <mat-option  value="ViewTote" >View Tote Contents</mat-option>
                <mat-option value="markTote" [disabled]="!rowSelected">Mark Tote as Full</mat-option>
                <mat-option value="print">Print</mat-option>
                <!-- <mat-option value="back">Back</mat-option> -->
              </mat-select>
              <span class="material-symbols-outlined icon-expand-more">
                expand_more
              </span>
            </mat-form-field>
          </div>
          <div class="card br-14 table-responsive borderless px-0 mb-3">
            <ng-scrollbar track="all" class="mat-table-scrollbar" style="height: 540px;">


              <table mat-table [dataSource]="dataSource2" class="w-100 table1 employee-location-table action-clickable-table" matSort (matSortChange)="announceSortChange($event)">

                <ng-container matColumnDef="status">
                  <th style="width:200px!important" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element" [class.selected]="element.isSelected">
                    <div class="label label-yellow px-2 me-2" *ngIf="!element.status">
                      Open
                    </div>
                    <div class="label label-green px-2 me-2" *ngIf="element.status">
                      Complete
                    </div>
                  </td>
                </ng-container>
          
                <!-- Position Column -->
                <ng-container matColumnDef="totesPosition">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
                  <td mat-cell *matCellDef="let element" [class.selected]="element.isSelected">
                    <div class="pe-2">
                      {{element.totesPosition}}
                    </div>
                  </td>
                </ng-container>
          
                <!-- Name Column -->
                <ng-container matColumnDef="toteID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Tote ID </th>
                  <td mat-cell *matCellDef="let element" [class.selected]="element.isSelected">
                    <div class="pe-2">
                      {{element.toteID}}
                    </div>
                  </td>
                </ng-container>
          
                <!-- Name Column -->
                <ng-container matColumnDef="cells">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Tote Capacity </th>
                  <td mat-cell *matCellDef="let element" [class.selected]="element.isSelected">
                    <div class="pe-2">
                      {{element.cells}}
                    </div>
                  </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="toteQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Qty </th>
                  <td mat-cell *matCellDef="let element" [class.selected]="element.isSelected">
                    <div class="pe-2">
                      {{element.toteQuantity}}
                    </div>
                  </td>
                </ng-container>
          
                <!-- Name Column -->
                <ng-container matColumnDef="zoneLabel">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Zone To Put Away </th>
                  <td mat-cell *matCellDef="let element" [class.selected]="element.isSelected">
                    <div class="pe-2">
                      {{element.zoneLabel}}
                    </div>
                  </td>
                </ng-container>
          
          
                <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1; let i = index" (click)="selectTotes(i)">
                </tr>
              </table>
            </ng-scrollbar>
          </div>
          <div class="d-flex justify-content-between bg-white">
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
        </mat-card-content>
      </mat-card>

      <div class="d-flex">
        <button mat-flat-button color="primary" class="primary-button btn-lg w-100" style="min-width: 150px;" (click)="completeBatch()">
          Complete Batch
        </button>
      </div>
    </mat-tab>
    
</mat-tab-group>
