<mat-tab-group dynamicHeight>
    <mat-tab label="Tote Setup">
        <mat-card class="mat-elevation-z g-card mt-3 mb-4">
            <mat-card-content>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="card-header-title mb-0 d-flex align-items-center">
                        <div class="mat-icon-wrap me-lg-3">
                            <span class="material-symbols-outlined">
                                ballot
                            </span>
                        </div>
                        <span>Batch Setup</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card p-3 mb-2">
                            <div class="d-flex gap-12 mb-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <mat-label>Batch ID</mat-label>
                                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                                </mat-form-field>
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <mat-label>Status</mat-label>
                                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="Reprocessed" disabled>
                                </mat-form-field>
                            </div>
                            <div class="d-flex gap-12">
                                <button mat-flat-button color="primary" class="primary-button btn-regular w-100">
                                    New Batch with ID
                                </button>
                                <button mat-flat-button color="primary" class="primary-button btn-regular w-100">
                                    New Batch
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card p-3">
                            <div class="d-flex gap-12 mb-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <mat-label>Assigned Zones</mat-label>
                                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000" disabled>
                                </mat-form-field>
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <mat-label>Default Cells</mat-label>
                                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000" disabled>
                                </mat-form-field>
                            </div>
                            <div class="d-flex gap-12">
                                <button mat-flat-button color="primary" class="primary-button btn-regular w-100" (click)="openSelectZonesDialogue()">
                                    Select Zones
                                </button>
                                <button mat-flat-button color="primary" class="primary-button btn-regular w-100">
                                    Set To Default Cell Quantity
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z g-card mt-3 mb-4">
            <mat-card-content>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="card-header-title mb-0 d-flex align-items-center">
                        <div class="mat-icon-wrap me-lg-3">
                            <span class="material-symbols-outlined">
                                inbox
                            </span>
                        </div>
                        <span>Totes</span>
                    </h2>
                    <mat-form-field class="action-dropdown" appearance="outline">
                        <mat-label>Actions</mat-label>
                        <mat-select class="employees-action">
                          <mat-option>Add Employee</mat-option>
                          <mat-option value="edit">Edit</mat-option>
                          <mat-option value="delete">Delete</mat-option>
                          <mat-option value="print">Print</mat-option>
                          <!-- <mat-option value="back">Back</mat-option> -->
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                          expand_more
                        </span>
                      </mat-form-field>
                </div>
                <div class="card br-14 table-responsive borderless px-0" style="height:500px;">
                    <!-- <ng-scrollbar style="height: 500px;" class="mat-table-scrollbar"> -->
                      <table mat-table [dataSource]="dataSource" class="custom-table table-fix">

                        <!-- Position Column -->
                        <ng-container matColumnDef="positions">
                          <th mat-header-cell *matHeaderCellDef> Positions </th>
                          <td mat-cell *matCellDef="let element">
                            <div class="pe-2">
                              <mat-form-field class="custom-form-field w-100" appearance="outline">

                                <input matInput type="text" #specialFeature maxlength="255" [value]="element.appname">
                              </mat-form-field>
                            </div>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="cells">
                          <th mat-header-cell *matHeaderCellDef> Cells </th>
                          <td mat-cell *matCellDef="let element">
                            <div class="pe-2">
                              <mat-form-field class="custom-form-field" appearance="outline">

                                <input matInput type="text" #specialFeature maxlength="255"
                                  [value]="element.displayname">
                              </mat-form-field>
                            </div>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="toteid">
                          <th mat-header-cell *matHeaderCellDef> Tote ID</th>
                          <td mat-cell *matCellDef="let element">
                            <div class="pe-2">
                              <mat-form-field class="custom-form-field" appearance="outline" (click)="openTotesDialogue()">
                                <span matSuffix>
                                    <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                                  </span>
                                <input matInput type="text" #specialFeature maxlength="255" [value]="element.license">
                              </mat-form-field>
                            </div>
                          </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="save">
                          <th mat-header-cell *matHeaderCellDef></th>
                          <td mat-cell *matCellDef="let element">
                            <div class="d-flex justify-content-end">
                                <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="" class="circle-icon-o" appearance="outline">
                                    <mat-icon>more_horiz</mat-icon>
                                  </button>
                
                                  <mat-menu #appMenu="matMenu">
                                    <button mat-menu-item>Print</button>
                                    <button mat-menu-item>Clear</button>
                                    <button mat-menu-item>Assign Next ID</button>
                                  </mat-menu>
                            </div>
                          </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                      </table>
                    <!-- </ng-scrollbar> -->
                  </div>
            </mat-card-content>
        </mat-card>
        <div class="d-flex">
          <button mat-flat-button color="primary" class="primary-button btn-lg w-100" style="min-width: 150px;">
              Process Batch
          </button>
        </div>
    </mat-tab>
    <mat-tab label="Process Put Aways">
    </mat-tab>
</mat-tab-group>
