
$text-size:(
    size:(
        "12",
        "14",
        "16",
        "18",
        "20",
        "24",
        "28",
        "32",
        "36",
        "42",
        "46",
        "52",
    ),
);
$lineheight:(
    heights:(
        "14",
        "18",
        "20",
        "24",
        "28",
        "32",
        "36",
        "44",
        "48",
        "52",
        "60",
    )
)


