<div class="d-flex justify-content-between align-items-center mb-2">
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Choose Export Type</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div class="row align-items-center">
    <div class="col-xl-12 mb-2">
    <mat-form-field class="custom-form-field w-100" appearance="outline">
        <mat-label>Export Filename</mat-label>
        <input matInput type="text">
    </mat-form-field>
</div>
    <div class="col-xl-12 mb-2">
    <mat-form-field class="custom-form-field w-100" appearance="outline">
        <mat-label>File Format</mat-label>
        <mat-select class="employees-action" value="pick">
            <mat-option>PDF (PDF Format)</mat-option>
            <mat-option>CSV (Comma Sepereated File - Openable in Excel)</mat-option>
            <mat-option>RTF (Rich Text Format)</mat-option>
            <mat-option>TXT (Text Format )</mat-option>
            <mat-option>XML (XML format)</mat-option>
            <mat-option>HTML (Web page format)</mat-option>
            <mat-option>XPS (XPS Format)</mat-option>
        </mat-select>
        <span class="material-symbols-outlined icon-expand-more">
            expand_more
        </span>
    </mat-form-field>
</div>
</div>

<div class="row mt-2">
    <button type="button" mat-flat-button color="primary" class="button-primary-i mb-2 btn-lg w-100">Export</button>
</div>
