<div class="d-flex justify-content-between align-items-center" mat-dialog-title>
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Selection Transaction For Tote</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-xl-6 offset-xl-3">
            <div class="d-flex align-items-center justify-content-center flex-wrap gap-12 mb-3">
                <div class="text-center"> <span class="label label-gray px-2 f-14 mb-1">Item No.:&nbsp;<b>000000</b></span></div>
                <div class="text-center"> <span class="label label-gray px-2 f-14 mb-1">Batch ID:&nbsp;<b>000000</b></span></div>
                <div class="text-center"> <span class="label label-gray px-2 f-14 mb-1">Zones:&nbsp;<b>00000000000000000000000000000000000000</b></span></div>
                <div class="text-center"> <span class="label label-gray px-2 f-14 mb-1">Description:&nbsp;<b>Macanudo Prince Phillip Cafe - Box Of 25</b></span></div>
            </div>
        </div>
    </div>
    
    <div class="card p-3 mb-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center">
            <h2 class="card-header-title mb-0 d-flex align-items-center me-3">
              <div class="mat-icon-wrap me-lg-3">
                <span class="material-symbols-outlined">
                    backup_table
                </span>
              </div>
              <span>Transaction Info</span>
            </h2>
            <mat-checkbox color="primary">Return to stock?</mat-checkbox>
            </div>
            <button mat-flat-button color="warn" class="btn-regular">
                Clear
              </button>
          </div>
          <div class="row">
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Order Number</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Category</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Sub-Category</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Ship Via</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Ship To Name</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Lot Number</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Expiration Date</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Serial Number</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Current Transaction Quantity</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Warehouse</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                    <span matSuffix>
                        <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                    </span>
                  </mat-form-field>
            </div>
          </div>
    </div>

    <div class="card p-3 mb-3">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="d-flex align-items-center">
            <h2 class="card-header-title mb-0 d-flex align-items-center me-3">
              <div class="mat-icon-wrap me-lg-3">
                <span class="material-symbols-outlined">
                    category
                </span>
              </div>
              <span>Item Info</span>
            </h2>
            <mat-checkbox color="primary">Return to stock?</mat-checkbox>
            </div>
            <div class="d-flex gap-12">
            <button mat-flat-button color="primary" class="btn-regular">
                View Item Detail
              </button>
            <button mat-flat-button color="primary" class="btn-regular">
                Update Item Info
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Order Number</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Category</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Sub-Category</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                    <mat-label>Ship Via</mat-label>
                    <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="000000">
                  </mat-form-field>
            </div>
            <div class="col-xl-3">
                <div class="d-flex align-items-center gap-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Actions</mat-label>
                        <mat-select class="employees-action">
                          <mat-option value="edit">Assign all IDs</mat-option>
                          <mat-option value="delete">Print Tote/Location Labels</mat-option>
                          <!-- <mat-option value="back">Back</mat-option> -->
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                          expand_more
                        </span>
                      </mat-form-field>
                  <button mat-mini-fab color="Default" class="button-default-i icon-button-8br"><mat-icon style="transform: rotate(45deg);">unfold_more</mat-icon></button>
                </div>
            </div>
          </div>
    </div>
</div>