<mat-tab-group id="loop" class="my-component" [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)"
  class="mat-tab-group mat-primary">
  <mat-tab label="Open Transactions Onhold">
    <app-open-transaction-on-hold (back)="returnFromComp($event)"></app-open-transaction-on-hold>
  </mat-tab>

  <mat-tab label="Open Transactions ">
    <div class="container-fluid p-0  my-3" style="height: auto;">
      <div class="container-fluid p-0">
        <div class="row align-items-center mb-3">
          <div class="col-12">
            <app-open-transaction-filters (nextScreen)="nexScreen($event)"></app-open-transaction-filters>
          </div>
        </div>
        <div class="row align-items-center mb-3 mt-3">
          <div class="col-12">
            <app-open-transaction-data-table ></app-open-transaction-data-table>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>