<div class="container-fluid p-0" style="height: auto;">
  <div class="row">
    <div class="col-12">

      <app-tran-select-order></app-tran-select-order>

    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-5 ">
        <div class="row align-items-center mb-3 ">
          <div class="col-12">

          </div>
          <app-tran-carousel-lzone></app-tran-carousel-lzone>
          <!-- <app-tran-off-carousel-lzone></app-tran-off-carousel-lzone> -->
        </div>
        <div class="row align-items-center mb-3 mt-3">
          <div class="col-12">

          </div>
          <!-- <app-tran-carousel-lzone></app-tran-carousel-lzone> -->
          <app-tran-off-carousel-lzone></app-tran-off-carousel-lzone>
        </div>
      </div>
      <div class="col-7">
        <app-tran-order-list></app-tran-order-list>
      </div>
    </div>

  </div>