<div class="container-fluid p-0" style="height: auto;">
  <div class="row align-items-center mb-3">
    <div class="col-5">
      <app-tran-select-order (orderNo)="orderNoChange($event)" (toteId)="toteIdChange($event)"
        [openOrderEvent]="openOrderEvent" [orderTypeOrderEvent]="orderTypeOrderEvent" [completeOrderEvent]="completeOrderEvent" [reprocessOrderEvent]="reprocessOrderEvent" [totalLinesOrderEvent]="totalLinesOrderEvent"></app-tran-select-order>
    </div>
    <div class="col-7">
      <app-tran-carousel-lzone></app-tran-carousel-lzone>
    </div>
  </div>
  <div class="row align-items-center mb-3">
    <div class="col-12">
      <app-tran-order-list (totalLinesOrders)="totalLinesOrderChange($event)" (orderTypeOrders)="orderTypeOrderChange($event)"  (reprocessOrders)="reprocessOrderChange($event)"  (completeOrders)="completeOrderChange($event)" (openOrders)="openOrderChange($event)"
        [orderNoEvent]="orderNoEvent" [toteIdEvent]="toteIdEvent"></app-tran-order-list>
    </div>
  </div>