<div class="d-flex justify-content-between mb-4 align-items-center">
    <div style="width:48px"></div>
<h1 class="m-0" mat-dialog-title>{{headerLable}}</h1>
<button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
</div>
<form [formGroup]="addInvMapLocation" (ngSubmit)="onSubmit(addInvMapLocation)">
    <div class="row mb-3">
        <div class="col-6">
            <ng-scrollbar style="height: 500px">
                <div class="container location_detail">
                    <h1 mat-dialog-title>Location Detail</h1>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="d-block w-100 " appearance="outline">
                                <mat-label>Location Number</mat-label>
                                <input matInput  disabled name="locationNumber" value="asdasdas"
                                    >
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="d-block w-100" appearance="outline">
                                <mat-label>Location Name</mat-label>
                                <input   placeholder="Location Name" aria-label="Location Name" matInput
                                    formControlName="location" [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                    (optionSelected)="loadZones($event)">

                                    <h6 class="loc_name"><span>Location</span> <span>Zone</span></h6>
                                    <mat-option *ngFor="let option of filteredOptions | async"
                                        [value]="option.locationName">
                                        <div class="loc_option">
                                            <span>{{option.locationName}}</span> <span>{{option.zone}}</span>
                                        </div>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div class="error" *ngIf="hasError('location', 'required')">This field is required.</div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="d-block w-100 " appearance="outline">
                                <mat-label>Laser X</mat-label>
                                <input matInput formControlName="laserX"   name="laserX"  >
                            </mat-form-field>
                            <div class="error" *ngIf="hasError('laserX', 'required')">This field is required.</div>
                            <div class="error" *ngIf="hasError('laserX', 'pattern')">Please enter numbers only.</div>
                            <div class="error" *ngIf="hasError('laserX', 'maxlength')">Max number allowed is 9.</div>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="d-block w-100" appearance="outline">
                                <mat-label>Laser Y</mat-label>
                                <input matInput formControlName="laserY"   name="laserY" >
                            </mat-form-field>
                            <div class="error" *ngIf="hasError('laserY', 'required')">This field is required.</div>
                            <div class="error" *ngIf="hasError('laserY', 'pattern')">Please enter numbers only.</div>
                            <div class="error" *ngIf="hasError('laserY', 'maxlength')">Max number allowed is 9.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="d-block w-100 " appearance="outline" (click)="loadWarehouse()">
                                <mat-label>Warehouse</mat-label>
                                <input matInput formControlName="warehouse"   name="warehouse" readonly="true" >
                                <span matSuffix>
                                    <mat-icon style="color:#8B8BA3;">open_in_full</mat-icon>
                                </span>
                            </mat-form-field>
                            <div class="error" *ngIf="hasError('warehouse', 'required')">This field is required.</div>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="d-block w-100" appearance="outline">
                                <mat-label>Zone</mat-label>
                                <input   placeholder="Zone" aria-label="Zone" matInput
                                    formControlName="zone" [matAutocomplete]="zoneAuto" (change)="onchangeItemNumber()">
                                <mat-autocomplete autoActiveFirstOption #zoneAuto="matAutocomplete">
                                    <h6 class="loc_name"><span>Zone</span> <span>Location</span></h6>
                                    <mat-option *ngFor="let option of zoneList"
                                        [value]="option.zone" #szone>
                                        <div class="loc_optionZ">
                                            <span>{{option.zone}}</span> <span>{{option.locationName}}</span>
                                        </div>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div class="error" *ngIf="hasError('zone', 'required')">This field is required.</div>
                            <div class="error" *ngIf="hasError('zone', 'maxlength')">Max number allowed is 2.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="d-block w-100 " appearance="outline">
                                <mat-label>Carousel</mat-label>
                                <input matInput formControlName="carousel"   name="carousel"  [maxlength]="1" (change)="onchangeItemNumber()">
                            </mat-form-field>
                            <div class="error" *ngIf="hasError('carousel', 'required')">This field is required.</div>
                            <div class="error" *ngIf="hasError('carousel', 'maxlength')">Max number allowed is 1.</div>
                            <div class="error" *ngIf="hasError('carousel', 'pattern')">Please enter numbers only.</div>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="d-block w-100" appearance="outline">
                                <mat-label>Row</mat-label>
                                <input matInput formControlName="row"   name="row" (change)="onchangeItemNumber()">
                            </mat-form-field>
                            <div class="error" *ngIf="hasError('row', 'required')">This field is required.</div>
                            <div class="error" *ngIf="hasError('row', 'maxlength')">Max number allowed is 5.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="d-block w-100 " appearance="outline">
                                <mat-label>Shelf</mat-label>
                                <input matInput formControlName="shelf"   name="shelf" (change)="onchangeItemNumber()">
                            </mat-form-field>
                            <div class="error" *ngIf="hasError('shelf', 'required')">This field is required.</div>
                            <div class="error" *ngIf="hasError('shelf', 'maxlength')">Max number allowed is 2.</div>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="d-block w-100" appearance="outline">
                                <mat-label>Bin</mat-label>
                                <input matInput formControlName="bin"   name="bin" (change)="onchangeItemNumber()">
                            </mat-form-field>
                            <div class="error" *ngIf="hasError('bin', 'required')">This field is required.</div>
                            <div class="error" *ngIf="hasError('bin', 'maxlength')">Max number allowed is 3.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="d-block w-100 "  [ngClass]="{'readonly': this.data.detailData}" appearance="outline">
                                <mat-label>UM</mat-label>
                                <input matInput formControlName="unitOfMeasure" class="readonly" [ngClass]="{'readonly': this.data.detailData}"   name="unitOfMeasure" [readonly]="this.data.detailData? true: false">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="d-block w-100" appearance="outline" (click)="loadCellSize()">
                                <mat-label>Cell Size</mat-label>
                                <input matInput formControlName="cell"   name="cell" readonly>
                                <span matSuffix>
                                    <mat-icon style="color:#8B8BA3;">open_in_full</mat-icon>
                                </span>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="d-block w-100 " appearance="outline" (click)="loadVelocityCode()">
                                <mat-label>Velocity Code</mat-label>
                                <input matInput formControlName="velocity"   name="velocity" readonly>
                                <span matSuffix>
                                    <mat-icon style="color:#8B8BA3;">open_in_full</mat-icon>
                                </span>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="d-block w-100" appearance="outline">
                                <mat-label>Alternate Light</mat-label>
                                <input matInput formControlName="altLight"   name="altLight"  >
                            </mat-form-field>
                            <div class="error" *ngIf="hasError('altLight', 'pattern')">Please enter numbers only.</div>
                            <div class="error" *ngIf="hasError('altLight', 'maxlength')">Max number allowed is 9.</div>
                        </div>
                    </div>

                    <mat-form-field class="d-block w-100 mt-3" appearance="outline">
                        <mat-label>Ship Via</mat-label>
                        <input matInput formControlName="userField1"   name="userField1">
                        <!-- <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint> -->

                    </mat-form-field>

                    <mat-form-field class="d-block w-100 mt-3" appearance="outline">
                        <mat-label>Ship To Name</mat-label>
                        <input matInput formControlName="userField2"   name="userField2">
                    </mat-form-field>
                    <section class="ld_checks">
                        <mat-checkbox formControlName="dedicated" class="ld_checkbox" color="primary">Dedicated
                        </mat-checkbox>
                        <mat-checkbox formControlName="dateSensitive" class="ld_checkbox" color="primary">Date Sensitive
                        </mat-checkbox>
                    </section>

                </div>
            </ng-scrollbar>
        </div>
        <div class="col-6">
            <div class="container item_detail">
                <h1 mat-dialog-title>Assigned Item Detail</h1>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="d-block w-100" appearance="outline">
                            <mat-label>Item Number</mat-label>
                            <input   placeholder="Item Number" aria-label="Item Number" matInput
                                formControlName="item" [matAutocomplete]="itemNumAuto">
                            <mat-autocomplete autoActiveFirstOption #itemNumAuto="matAutocomplete" [panelWidth]="400" (optionSelected)="loadItemDetails($event)">
                                <h6 class="loc_name"><span>Item Number</span> <span>Description</span></h6>
                                <mat-option *ngFor="let option of filteredItemNum | async"
                                    [value]="option.itemNumber">
                                    <div class="itemNum">
                                        <span>{{option.itemNumber}}</span> <span>{{option.desc}}</span>
                                    </div>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field class="d-block w-100" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput disabled    name="description" value="value">
                </mat-form-field>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="d-block w-100" appearance="outline">
                            <mat-label>Maximum (Location) Quantity</mat-label>
                            <input matInput formControlName="maximumQuantity"   name="maximumQuantity"  type="number">
                        </mat-form-field>
                        <div class="error" *ngIf="hasError('maximumQuantity', 'maxlength')">Max number allowed is 9.</div>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="d-block w-100" appearance="outline">
                            <mat-label>Min (Location) Quantity</mat-label>
                            <input matInput formControlName="minQuantity"   name="minQuantity"  type="number">
                            <!-- <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint> -->
                        </mat-form-field>
                            <div class="error" *ngIf="hasError('minQuantity', 'maxlength')">Max number allowed is 9.</div>
                    </div>
                </div>
                <!-- <div class="row">
                     <div class="col-6">
                        <mat-form-field class="d-block w-100 readonly" appearance="outline">
                            <mat-label>Put Away Date</mat-label>
                            <input matInput class="readonly" formControlName="putAwayDate"   name="putAwayDate">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="d-block w-100 readonly" appearance="outline">
                            <mat-label>Serial Number</mat-label>
                            <input matInput class="readonly"  formControlName="serialNumber"   name="serialNumber">
                        </mat-form-field>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-6">
                        <mat-form-field class="d-block w-100 readonly" appearance="outline">
                            <mat-label>Lot Number</mat-label>
                            <input matInput class="readonly"  formControlName="location"   name="emailAddress">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="d-block w-100 readonly" appearance="outline">
                            <mat-label>Revision</mat-label>
                            <input matInput class="readonly" formControlName="lotNumber"   name="lotNumber">
                        </mat-form-field>
                    </div>
                </div> -->
                <!-- <mat-form-field class="d-block w-100 readonly" appearance="outline">
                    <mat-label>Expiration Date</mat-label>
                    <input matInput class="readonly" formControlName="expirationDate"   name="expirationDate">
                </mat-form-field> -->
            </div>
        </div>

    </div>
    <!-- <mat-dialog-actions align="end"> -->
        <div class="d-flex gap-12">
        <button mat-stroked-button color="warn" class="form-button-submit btn-lg">Clear</button>
        <button type="submit" mat-flat-button class="form-button-submit btn-lg w-100" color="primary" [disabled]="!isValid()">Save Changes</button>
    </div>
    <!-- </mat-dialog-actions> -->
</form>
