<h1 mat-dialog-title>Adjust Quantity</h1>
<button mat-icon-button class="close-button dialog-close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
    <div class="container item_detail">
        <div class="row">
            <div class="col-6">
                <mat-form-field class="d-block w-100 readonly" appearance="outline">
                    <mat-label>Item Number</mat-label>
                    <input matInput class="readonly" [value]="this.getAdjustQuantityData.itemNumber"   name="this.getAdjustQuantityData.itemNumber"
                        readonly>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="d-block w-100 readonly" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput class="readonly" [value]="this.getAdjustQuantityData.description"   name="this.getAdjustQuantityData.itemNumber"
                        readonly>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="d-block w-100 readonly" appearance="outline">
                    <mat-label>Location Zone</mat-label>
                    <input matInput class="readonly" [value]="this.getAdjustQuantityData.zone"   name="this.getAdjustQuantityData.zone"
                        readonly>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="d-block w-100 readonly" appearance="outline">
                    <mat-label>Location</mat-label>
                    <input matInput class="readonly" [value]="this.getAdjustQuantityData.location"   name="this.getAdjustQuantityData.location"
                        readonly>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="d-block w-100 readonly" appearance="outline">
                    <mat-label>Qty Put Away</mat-label>
                    <input matInput class="readonly" [value]="this.getAdjustQuantityData.quantityAllocatedPutAway"   name="this.getAdjustQuantityData.itemNumber"
                        readonly>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="d-block w-100 readonly" appearance="outline">
                    <mat-label>Qty Pick</mat-label>
                    <input matInput class="readonly" [value]="this.getAdjustQuantityData.quantityAllocatedPick"   name="this.getAdjustQuantityData.itemNumber"
                        readonly>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="d-block w-100 readonly" appearance="outline">
                    <mat-label>Current Location Qty</mat-label>
                    <input matInput class="readonly" [value]="this.getAdjustQuantityData.currentLocationQty? this.getAdjustQuantityData.currentLocationQty : '-' "   name="this.getAdjustQuantityData.itemNumber"
                        readonly>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="d-block w-100 readonly" appearance="outline">
                    <mat-label>Current Max. Qty</mat-label>
                    <input matInput class="readonly" [value]="this.getAdjustQuantityData.currentMaxQty? this.getAdjustQuantityData.currentMaxQty : '-'"   name="this.getAdjustQuantityData.itemNumber"
                        readonly>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="d-block w-100 readonly" appearance="outline">
                    <mat-label>Current Min. Qty</mat-label>
                    <input matInput class="readonly" [value]="this.getAdjustQuantityData.currentMinQty? this.getAdjustQuantityData.currentMinQty : '-'"   name="this.getAdjustQuantityData.itemNumber"
                        readonly>
                </mat-form-field>
            </div>
        </div>
    </div>
    <form [formGroup]="adjustInventoryMapForm" (ngSubmit)="onSubmit(adjustInventoryMapForm)">
    <div class="container newEntry">
    <div class="row">
        <div class="col-6">
            <mat-form-field class="d-block w-100" appearance="outline">
                <mat-label>Enter New Quantity</mat-label>
                <input matInput formControlName="quantity"   name="quantity">
            </mat-form-field>
            <div class="error" *ngIf="hasError('quantity', 'required')">This field is required.</div>
        </div>
        <div class="col-6">
            <!-- <mat-form-field class="d-block w-100 readonly" appearance="outline">
                <mat-label>Reason For Adjustment</mat-label>
                <input matInput class="readonly" value="itemNumber"   name="locationNumber"
                    readonly>
            </mat-form-field> -->
            <mat-form-field class="d-block w-100" appearance="outline">
                <mat-label>Reason For Adjustment</mat-label>
                <input   placeholder="Reason For Adjustment" aria-label="Reason For Adjustment" matInput
                    formControlName="description" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of getAdjustReasonsList"
                        [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="error" *ngIf="hasError('description', 'required')">This field is required.</div>
        </div>
    </div>
    </div>

    <mat-dialog-actions align="end">
        <button mat-stroked-button color="warn" class="" (click)="initializeDataSet()">Clear</button>
        <button type="submit" mat-flat-button class="form-button-submit" color="primary" [disabled]="!isValid()">Save Changes</button>
    </mat-dialog-actions>
</form>
