<h1 mat-dialog-title>Dynamic Text</h1>
<button mat-icon-button class="close-button dialog-close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<div class="container">
    <div mat-dialog-content>
        <!--<form [formGroup]="controlNameForm" (ngSubmit)="onSend(controlNameForm)" style="height:200px;">-->
            <form  style="height:200px;">
                <mat-form-field class="d-block w-100" appearance="outline">
                    <mat-label *ngIf="condition != 'is between'">{{this.columnName}} {{this.condition}}</mat-label>
                    <mat-label *ngIf="condition == 'is between'">{{this.columnName}} {{this.condition}} (Start)</mat-label>
                    <input type="text"
                           placeholder=""
                           aria-label=""
                           #aut_focus
                           matInput [(ngModel)]="text1" name="text1">
                  </mat-form-field>
                  <mat-form-field class="d-block w-100" appearance="outline" style="margin-top: 10px;" *ngIf="condition == 'is between'">
                    <mat-label *ngIf="condition == 'is between'">{{this.columnName}} {{this.condition}} (End)</mat-label>
                    <input type="text"
                           placeholder=""
                           aria-label=""
                           matInput [(ngModel)]="text2" name="text2">
                  </mat-form-field>
            <mat-dialog-actions align="end">
                <!-- <button mat-button matDialogClose="no" color="danger">Cancel</button> -->
                <button type="submit" mat-flat-button class="form-button-submit"
                    color="primary" (click)="onSend()">submit</button>
            </mat-dialog-actions>

        </form>
    </div>
</div>
