<mat-toolbar>
  <button mat-icon-button aria-label="icon-button with menu icon"
    (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="mx-3">PickPro</span>
  <span class="full-spacer"></span>
  <!-- <div class="row mr-2 ml-auto">
    <ul class="row m-0 align-items-center">
      <li>
        <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
          <mat-icon>dashboard</mat-icon>

          Apps
          <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>assignment_ind</mat-icon>
            Profile
          </button>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </li>
    </ul>
  </div> -->
  <div class="row mr-2 ml-auto">
    <ul class="row m-0 align-items-center">
      <li>
        <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
          <mat-icon>account_circle</mat-icon>

          User Name
          <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>assignment_ind</mat-icon>
            Profile
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>settings</mat-icon>
  </button>


</mat-toolbar>
<!-- <mat-progress-bar *ngIf="loading" style="display: flex; justify-content: center; align-items: center;height: 10px;" color="warn"
  mode="indeterminate">
</mat-progress-bar> -->
<div class="overlay" *ngIf="spinnerService.visibility | async">
  <div class="center">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
