<div class="unassigned-functions functions-list-wrap mt-3">
  <div class="search-box zone-search-box">
    <div class="d-flex g-mini-search-box">
      <mat-form-field class="w-100" appearance="fill">
        <span class="material-symbols-outlined icon-search">
          search
        </span>
        <input type="text" placeholder="Search Unassigned function"
          aria-label="Search Unassigned Function"  matInput (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <p class="mb-0">Unassigned</p>
      <button mat-stroked-button color="warn" class="button-add-all" (click)="assignFunction(unassignedFunctions)">
        <mat-icon>add</mat-icon>
        Add All
      </button>
    </div>
    <mat-list class="zones-list g-card-list" role="list">
      <ng-scrollbar *ngIf="!filterValue" style="height: 200px">
        <mat-list-item role="listitem"  *ngFor="let groupname of unassignedFunctions">
          <span class="list-label zone-list-label">
            {{groupname}}
          </span>
          <button mat-icon-button aria-label="Delete Function"  (click)="assignFunction(groupname)">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </mat-list-item>
      </ng-scrollbar>
      <ng-scrollbar *ngIf="filterValue" style="height: 200px">
        <mat-list-item role="listitem" *ngFor="let groupname of filteredOptions">
          <span class="list-label zone-list-label">
            {{groupname}}
          </span>
          <!-- <button mat-icon-button aria-label="Delete Function" (click)="removeFunction(groupname)"> -->
          <button mat-icon-button aria-label="Delete Function">
            <mat-icon class="icon-circle-cancel">close</mat-icon>
          </button>
        </mat-list-item>
      </ng-scrollbar>

    </mat-list>
  </div>

</div>
