<mat-card class="mat-elevation-z g-card mb-4 mt-3">
    <mat-tab-group>
        <mat-tab label="Workstation Setup">
        </mat-tab>
        <mat-tab label="Bulk Zones">
        </mat-tab>
        <mat-tab label="POD Setup">
        </mat-tab>
        <mat-tab label="Sort Bar Setup">
        </mat-tab>
        <mat-tab label="Pick Levels">
        </mat-tab>
        <mat-tab label="Custom Apps">
        </mat-tab>
        <mat-tab label="Miscellaneous Settings">
        </mat-tab>
    </mat-tab-group>
</mat-card>