<mat-card class="mat-elevation-z g-card mb-4 h-100">
  <mat-card-content>

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="card-header-title mb-0 d-flex align-items-center">
              <div class="mat-icon-wrap me-lg-3">
                <span class="material-symbols-outlined">
                  filter_frames
                </span>
              </div>
              <span>Select Order</span>
            </h2>
            <button (click)="deleteOrder()" [disabled]="totalLinesOrder==0"  mat-flat-button color="warn"  class="btn-md" [ngClass]="{'disabled-button' : totalLinesOrder==0, 'delete-button' : totalLinesOrder>0 }" >
              Delete
            </button>

        </div>


      <!-- <div class="col-md-4">
        <button (click)="deleteOrder()" [disabled]="totalLinesOrder==0"  mat-flat-button color="warn"  class="btn-md w-100 " [ngClass]="{'disabled-button' : totalLinesOrder==0, 'delete-button' : totalLinesOrder>0 }" >
          Delete
        </button>
      </div> -->



    <div class="row align-items-center">
      <div class="col-12">
        <div class="d-flex gap-12 align-items-center flex-wrap">

          <div class="d-flex align-items-center gap-12">
            <mat-form-field class="action-dropdown" appearance="outline">
              <mat-label>Select</mat-label>
              <mat-select class="employees-action" [(ngModel)]="columnSelect" (selectionChange)="actionDialog($event.value)" >
                <mat-option selected value="Order Number">
                  Order No.
                </mat-option>
                <mat-option value="Tote ID">
                  Tote ID
                </mat-option>
              </mat-select>
              <span class="material-symbols-outlined icon-expand-more">
                expand_more
              </span>
            </mat-form-field>
  
            <span class="v-br">-</span>
            <div class="d-flex g-mini-search-box w-100">
  
              <mat-form-field class="w-100 bg-white br-8" appearance="fill"
              [floatLabel]="getFloatLabelValue()" [hideRequiredMarker]="hideRequiredControl.value" style="min-width: 20px;">
              <span class="material-symbols-outlined icon-search">
                  Search
              </span>
              <input type="text" placeholder="Search" aria-label="Number" matInput [disabled]="!columnSelect"
                  [(ngModel)]='searchField' [matAutocomplete]="auto"
                  (ngModelChange)="this.searchBar.next($event)">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchData()">
                  <mat-option *ngFor="let option of searchAutocompleteList" [value]="option">
                      {{option}}
                  </mat-option>
              </mat-autocomplete>
          </mat-form-field>
          </div>
          
        

            
            <!-- <mat-form-field class="w-100 bg-white br-8" appearance="fill" [floatLabel]="getFloatLabelValue()"
              [hideRequiredMarker]="hideRequiredControl.value">
              <span class="material-symbols-outlined icon-search">
                Search
              </span>
              <input type="text" placeholder="Search" [(ngModel)]="orderNumber"
                aria-label="Number" matInput [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchData()">
                <mat-option
                  *ngFor="let option of searchAutocompleteListOrderNumber | searchFilter: orderNumber"
                  [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field> -->



          </div>
          <div style="flex:1">
            <button (click)="clear()" mat-stroked-button appearance="outline" color="warn" class="button-remove-all-w-stroke w-100">
              Clear
            </button>
          </div>
        </div>
      </div>


    </div>

    <div class="row align-items-center mb-2">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center ">
          <div>
            <h2 class="mb-2 mt-3 d-flex align-items-center f-16">

              <b>Lines</b>
            </h2>
          </div>

        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-between align-items-center ">
      <div class="col-md-4 ">
        <div class="d-flex  ">
          <mat-card class="mat-elevation-z g-card br-14 Compete-cart w-100 mb-2">
            <mat-card-content>
              <div class="row">
                <div class="col-12">
                  Complete
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <strong>{{this.completeOrder}}</strong>
                </div>
              </div>
            </mat-card-content>
          </mat-card>


        </div>
      </div>

      <div class="col-md-4">
        <div class="d-flex ">
          <mat-card class="mat-elevation-z g-card br-14  Reprocess-card w-100 mb-2">
            <mat-card-content>
              <div class="row">
                <div class="col-12">
                  Re-process
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <strong>{{this.reprocessOrder}}</strong>
                </div>
              </div>
            </mat-card-content>
          </mat-card>


        </div>
      </div>

      <div class="col-md-4">
        <div class="d-flex  ">
          <mat-card class="mat-elevation-z g-card br-14  Open-card  w-100 mb-2">
            <mat-card-content>
              <div class="row">
                <div class="col-12">
                  Open
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <strong>{{this.openOrder}}</strong>
                </div>
              </div>
            </mat-card-content>
          </mat-card>


        </div>
      </div>
    </div>
    <div class="row d-flex mt-2">
      <div class="col-md-4 ">
        <div class="d-flex justify-content-between align-items-center  ">
          <mat-card class="mat-elevation-z g-card br-14  Order-type  w-100 mb-2">
            <mat-card-content>
              <div class="row">
                <div class="col-12">
                  Order type
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <strong>{{this.orderTypeOrder}}</strong>
                </div>
              </div>
            </mat-card-content>
          </mat-card>


        </div>
      </div>

      <div class="col-md-4">
        <div class="d-flex justify-content-between align-items-center ">
          <mat-card class="mat-elevation-z g-card br-14  Total-lines  w-100 mb-2">
            <mat-card-content>
              <div class="row">
                <div class="col-12">
                  Total-lines
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <strong>{{this.totalLinesOrder}}</strong>
                </div>
              </div>
            </mat-card-content>
          </mat-card>


        </div>
      </div>

      <div class="col-md-4">
        <div class="d-flex justify-content-between align-items-center ">
          <mat-card class="mat-elevation-z g-card br-14  Current-status w-100  mb-2">
            <mat-card-content>
              <div class="row">
                <div class="col-12">
                  Current Status
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <strong>{{this.currentStatusOrder}}</strong>
                </div>
              </div>
            </mat-card-content>
          </mat-card>


        </div>
      </div>
    </div>


  </mat-card-content>
</mat-card>