.report-label-list ul {
    line-height: 46px;
    top: 0;
    left: 8px;
    right: 14px;
    bottom: 0;

    li {
        cursor: pointer;

        &:hover {
            border-radius: 8px;
            transition: 0.3s ease all;
            color: #fff;
            background: var(--clr-primary-300);



        }
    }
}


.selected {
    border-radius: 8px;
    transition: 0.3s ease all;
    color: #fff;
    background: var(--clr-primary-300);



}

mat-card{
    min-height: 78vh;
    .test{
        display: flex;
        flex-direction: column;
        min-height: 75vh;
    }
}