<div class="row w-100 mt-4 mx-0">

        <div class="d-block d-xl-flex justify-content-between align-items-center">
            <h2 class="card-header-title mb-3 d-flex align-items-center">
                <div class="mat-icon-wrap me-lg-3 me-2">
                    <span class="mat-icon material-symbols-outlined">
                        location_on
                    </span>
                </div>
                <span>Location Zones</span>
            </h2>
            <div class="d-block d-xl-flex justify-content-end">
                <button mat-flat-button color="primary" class="btn-md w-100 mb-3">Add New Location Zone</button>
            </div>
        </div>

        

    <div class="card">
    <mat-accordion multi>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Zone 1
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-xl-6">
                <div class="row">
                <div class="col-xl-6">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                        <mat-label>Pick Type</mat-label>
                        <input type="text"   matInput maxlength="255">
                      </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                        <mat-label>Pick Type</mat-label>
                        <input type="text"   matInput maxlength="255">
                      </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                        <mat-label>Pick Type</mat-label>
                        <input type="text"   matInput maxlength="255">
                      </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                        <mat-label>Pick Type</mat-label>
                        <input type="text"   matInput maxlength="255">
                      </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                        <mat-label>Pick Type</mat-label>
                        <input type="text"   matInput maxlength="255">
                      </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                        <mat-label>Pick Type</mat-label>
                        <input type="text"   matInput maxlength="255">
                      </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                        <mat-label>Pick Type</mat-label>
                        <input type="text"   matInput maxlength="255">
                      </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                        <mat-label>Pick Type</mat-label>
                        <input type="text"   matInput maxlength="255">
                      </mat-form-field>
                </div>
            </div>
              </div>
            <div class="col-xl-6">
                <div class="row">
                <div class="col-xl-6">
                    <div class="d-flex justify-content-between mb-3">
                        Order Manifest <mat-slide-toggle
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex justify-content-between mb-3">
                        Order Manifest <mat-slide-toggle
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex justify-content-between mb-3">
                        Order Manifest <mat-slide-toggle
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex justify-content-between mb-3">
                        Order Manifest <mat-slide-toggle
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex justify-content-between mb-3">
                        Order Manifest <mat-slide-toggle
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex justify-content-between mb-3">
                        Order Manifest <mat-slide-toggle
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex justify-content-between mb-3">
                        Order Manifest <mat-slide-toggle
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex justify-content-between mb-3">
                        Order Manifest <mat-slide-toggle
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex justify-content-between mb-3">
                        Order Manifest <mat-slide-toggle
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex justify-content-between mb-3">
                        Order Manifest <mat-slide-toggle
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex justify-content-between mb-3">
                        Order Manifest <mat-slide-toggle
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                
                </div>
              </div>
              
          </div>
          
          <button mat-stroked-button color="warn" class="btn-regular px-4 button-remove-all-w-stroke">Delete Location Zone</button>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
</div>
