<div class="container-fluid p-0">
  <div class="row">
    <div class="col-8">
      <mat-card class="mat-elevation-z g-card">
        <mat-card-content>
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="card-header-title mb-0 d-flex align-items-center">
              <div class="mat-icon-wrap-lg me-lg-3">
                <span class="mat-icon material-symbols-outlined">
                  widgets
                </span>
              </div>
              <span>Orders</span>
            </h2>
            <button mat-flat-button class="form-button-submit" color="primary">Order Status</button>
          </div>
          <div class="col mt-2">
            <ng-scrollbar class="mat-table-scrollbar" style="height: 774px">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
                <ng-container matColumnDef="zone">
                  <th mat-header-cell *matHeaderCellDef> Zone </th>
                  <td mat-cell *matCellDef="let element"> {{element.zone}} </td>
                </ng-container>

                <ng-container matColumnDef="trans_type">
                  <th mat-header-cell *matHeaderCellDef> Trans. Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.trans_type}} </td>
                </ng-container>

                <ng-container matColumnDef="warehouse">
                  <th mat-header-cell *matHeaderCellDef> Warehouse </th>
                  <td mat-cell *matCellDef="let element"> {{element.warehouse}} </td>
                </ng-container>

                <ng-container matColumnDef="location">
                  <th mat-header-cell *matHeaderCellDef> Location </th>
                  <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                </ng-container>

                <ng-container matColumnDef="lines">
                  <th mat-header-cell *matHeaderCellDef> Lines </th>
                  <td mat-cell *matCellDef="let element"> {{element.lines}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </ng-scrollbar>
          </div>


        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="mat-elevation-z g-card">
        <mat-card-content>
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="card-header-title mb-0 d-flex align-items-center">
              <div class="mat-icon-wrap-lg me-lg-3">
                <span class="mat-icon material-symbols-outlined">
                  analytics
                </span>
              </div>
              <span>Reports</span>
            </h2>
            <button mat-flat-button class="form-button-submit" color="primary">Inventory Detail</button>
          </div>
          <div class="counter-widget side-widget main-widget">
            <div class="counter">
                <p class="counter-text"><strong>Picks</strong></p>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="employees">
                      <p class="counter-count">879</p>
                      <p class="employee-p">Open</p>
                    </div>
                    <div class="customer">
                      <p class="counter-count">954</p>
                      <p class="customer-p">Completed</p>
                    </div>
                    <div class="design">
                      <p class="counter-count">1050</p>
                      <p class="design-p">Per hour</p>
                    </div>
                </div>
            </div>

            <div class="counter">
              <p class="counter-text"><strong>Puts</strong></p>
              <div class="d-flex jus align-items-center justify-content-center">
                  <div class="employees">
                    <p class="counter-count">879</p>
                    <p class="employee-p">Open</p>
                  </div>
                  <div class="customer">
                    <p class="counter-count">954</p>
                    <p class="customer-p">Completed</p>
                  </div>
                  <div class="design">
                    <p class="counter-count">1050</p>
                    <p class="design-p">Per hour</p>
                  </div>
              </div>
          </div>

          <div class="counter">
            <p class="counter-text"><strong>Counts</strong></p>
            <div class="d-flex align-items-center justify-content-center">
                <div class="employees">
                  <p class="counter-count">879</p>
                  <p class="employee-p">Open</p>
                </div>
                <div class="customer">
                  <p class="counter-count">954</p>
                  <p class="customer-p">Completed</p>
                </div>
                <div class="design">
                  <p class="counter-count">1050</p>
                  <p class="design-p">Per hour</p>
                </div>
            </div>
        </div>

        <div class="counter">
          <p class="counter-text"><strong>Adjustments</strong></p>
          <div class="d-flex align-items-center justify-content-center">
              <div class="employees">
                <p class="counter-count">879</p>
                <p class="employee-p">Open</p>
              </div>
              <div class="customer">
                <p class="counter-count">954</p>
                <p class="customer-p">Completed</p>
              </div>
              <div class="design">
                <p class="counter-count">1050</p>
                <p class="design-p">Per hour</p>
              </div>
          </div>
      </div>
          </div>


        </mat-card-content>
      </mat-card>
    </div>
  </div>
