<div class="row py-4">
    <div class="col-4">
    <mat-form-field class="custom-form-field w-100" appearance="outline">
        <mat-label>Unit Cost</mat-label>
        <mat-icon class="text-chrome-600">attach_money</mat-icon>
        <input matInput type="text" formControlName="supplierItemID" value="0">
      </mat-form-field>
    </div>
    <div class="col-4">
    <mat-form-field class="custom-form-field w-100" appearance="outline">
        <mat-label>Supplier ID</mat-label>
        <input matInput type="text" formControlName="supplierItemID" value="0">
      </mat-form-field>
    </div>
    <div class="col-4">
    <mat-form-field class="custom-form-field w-100" appearance="outline">
        <mat-label>Manufacturer ID</mat-label>
        <input matInput type="text" formControlName="supplierItemID" value="0">
      </mat-form-field>
    </div>
    <div class="col-12">
        <div class="my-3">
            <mat-form-field class="custom-form-field w-100" appearance="outline">
                <mat-label>Special Features</mat-label>
                <textarea matInput type="text" formControlName="supplierItemID" style="min-height:200px;">&nbsp;</textarea>
              </mat-form-field>
            </div>
    </div>
</div>