<div class="d-flex justify-content-between align-items-center mb-4">
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Totes - Add, Edit, Delete and Print</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div class="card br-14 p-3 mb-3">
    <div class="d-flex gap-12 align-items-center">
    <mat-form-field class="custom-form-field w-100" appearance="outline">
        <mat-label>From Tote ID</mat-label>
        <input matInput type="text" maxlength="255" value="0000000" disabled>
      </mat-form-field>
      <mat-form-field class="custom-form-field w-100" appearance="outline">
        <mat-label>From Tote ID</mat-label>
        <input matInput type="text" maxlength="255" value="0000000" disabled>
      </mat-form-field>
      <div><button disabled type="submit" mat-flat-button class="form-button-submit btn-regular" color="primary">Print Range</button></div>
    </div>
</div>

<!-- <mat-radio-group color="primary"> -->

<div class="mb-4" *ngIf="!data.validateTotes">
    <b>Unmanaged Tote IDs</b>
</div>

<div class="card br-14 table-responsive borderless px-0 mb-4" *ngIf="!data.validateTotes">
  <ng-scrollbar class="mat-table-scrollbar" track="all" style="height:160px;">
    <table mat-table [dataSource]="dataSource" class="">
        
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="pe-2">
            <!-- (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" -->
          <mat-radio-button (click)="selectTote()" 
            color="primary">
          </mat-radio-button>
        </div>
        </td>
      </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="zone">
          <th mat-header-cell *matHeaderCellDef> Unmanaged Tote IDs </th>
          <td mat-cell *matCellDef="let element">
            <div class="pe-2">
              <mat-form-field class="custom-form-field w-100" appearance="outline">
                <input matInput type="text" #specialFeature maxlength="255" [(ngModel)]="toteID">
              </mat-form-field>
            </div>
          </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="locationdesc">
          <th mat-header-cell *matHeaderCellDef> Cells </th>
          <td mat-cell *matCellDef="let element">
            <div class="pe-2">
              <mat-form-field class="custom-form-field w-100" appearance="outline">
                <input matInput oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" type="text" #specialFeature maxlength="255" [(ngModel)]="cellID">
              </mat-form-field>
            </div>
          </td>
        </ng-container>
        
      
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
    </ng-scrollbar>
</div>

<div class="d-flex justify-content-between">
  <div class="mb-4" (click)="$event.stopPropagation()">
      <b>Managed Tote IDs</b>
  </div>
  
  <button mat-flat-button color="primary" class="add-icon-button mb-2" (click)="addRow()">
    <span class="material-symbols-outlined">
      add
    </span>
  </button>
</div>

    <div class="card br-14 table-responsive borderless px-0">
      <ng-scrollbar class="mat-table-scrollbar" track="all" style="height:200px;">
      <table mat-table [dataSource]="dataSourceManagedTotes" class="">
          
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="pe-2">
              <!-- [checked]="selection.isSelected(row)"
              (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                         
                          [aria-label]="checkboxLabel(row)" -->
            <mat-radio-button  color="primary" (click)="selectTote(row.toteID,row.cells)" >
            </mat-radio-button>
          </div>
          </td>
        </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="zone">
            <th mat-header-cell *matHeaderCellDef> Managed Tote IDs </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div class="pe-2">
                <mat-form-field class="custom-form-field w-100" appearance="outline">

                  <input matInput type="text" #specialFeature maxlength="255"
                    [value]="element.toteID" (keydown)="onToteChange($event,i,'')" (keyup)="onToteChange($event,i,'')" (change)="onToteChange($event,i,'')" (keypress)="onToteChange($event,i,'')"  (keypress)="onToteChange($event,i,'')">
                </mat-form-field>
              </div>
            </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="locationdesc">
            <th mat-header-cell *matHeaderCellDef> Cells </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div class="pe-2">
                <mat-form-field class="custom-form-field w-100" appearance="outline">

                  <input matInput type="text" #specialFeature maxlength="255"
                    [value]="element.cells" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" (keydown)="onToteChange($event,i,'1')" (keyup)="onToteChange($event,i,'1')" (change)="onToteChange($event,i,'1')" (keypress)="onToteChange($event,i,'1')"  (keypress)="onToteChange($event,i,'1')">
                </mat-form-field>
              </div>
            </td>
          </ng-container>
          
          <!-- Name Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div class="d-flex gap-12">
                <button mat-flat-button color="warn" class="xsm-icon-button" (click)="deleteTote(element.toteID)">
                  <mat-icon class="material-symbols-outlined">
                      close
                  </mat-icon>
                </button>
                <button mat-flat-button color="primary" class="xsm-icon-button">
                  <mat-icon class="material-symbols-outlined">
                      print
                  </mat-icon>
                </button>
                <button mat-flat-button color="primary" class="xsm-icon-button" (click)="saveTote(element.toteID,element.cells,element.oldToteID,element.isInserted,i)">
                  <mat-icon class="material-symbols-outlined">
                      save
                  </mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          
        
        
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1;"
              (click)="selection.toggle(row)">
          </tr>
        </table>
      </ng-scrollbar>
    </div>
<!-- </mat-radio-group> -->