<mat-card class="mat-elevation-z g-card mb-3 mt-2" style="height: 100%;">
    <mat-card-content>
        <div class="d-flex align-items-center">
            <h2 class="card-header-title mb-0 me-4 d-flex align-items-center">
                <div class="mat-icon-wrap me-lg-3">
                    <span class="material-symbols-outlined">
                        event_note
                    </span>
                </div>
                <span>Event Log</span>
            </h2>
            <mat-checkbox class="example-margin custom-checkbox" color="primary">Print CC Disc Directly</mat-checkbox>

            </div>

            <div class="row">

                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                        <mat-label>Message</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                        <mat-label>Event Location</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">

                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                        <mat-label>Event Code</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                        <mat-label>Event Type</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div class="col-xl-3">
                    <button  mat-flat-button color="primary"  class="btn-regular w-100 mb-3">
                        Clear Filters
                    </button>
                </div>
                </div>

            </mat-card-content>
            </mat-card>

            <mat-card class="mat-elevation-z g-card mb-3 mt-2" style="height: 100%;">
                <mat-card-content>
                    <div class="d-flex align-items-center justify-content-between">
                        <h2 class="card-header-title mb-0 me-4 d-flex align-items-center">
                            <div class="mat-icon-wrap me-lg-3">
                                <span class="material-symbols-outlined">
                                    event_note
                                </span>
                            </div>
                            <span>Event Log</span>
                        </h2>

                        <div class="d-flex justify-content-end gap-12">
                            <div class="d-flex justify-content-end mb-3">
                                <button mat-stroked-button color="primary" class="btn-regular">
                                  <mat-icon>cached</mat-icon>
                                  Refresh Data
                                </button>
                              </div>
                        <button mat-stroked-button class="form-button-submit" color="primary">Inventory Detail</button>
            </div>

                        </div>
                        </mat-card-content>
                        </mat-card>