<mat-card class="mat-elevation-z g-card mb-3" style="height: 100%;">
    <mat-card-content>
        <div class="d-flex justify-content-between flex-wrap mb-3">
            <h2 class="card-header-title mb-3 d-flex align-items-center">
                <div class="mat-icon-wrap me-lg-3">
                    <span class="material-symbols-outlined">
                        filter_list
                    </span>
                </div>
                <span>Filters</span>
            </h2>
            <div class="d-flex gap-12 flex-wrap">
                <div class="mb-3">
                    <button type="submit" mat-flat-button class="btn-regular" color="primary">Display Records</button>
                  </div>
                  <div class="mb-3">
                    <button type="submit" mat-flat-button class="btn-regular" color="primary" (click)="openOmCreateOrders()">Add/Edit Order</button>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                    <mat-label>Find Order(s) By:</mat-label>
                    <mat-select [(ngModel)]="column">
                        <!-- <mat-option value="0">case</mat-option> -->
                        <mat-option value="Category">Category</mat-option>
                        <mat-option value="Description">Description</mat-option>
                        <mat-option value="Host Transaction ID">Host Transaction ID</mat-option>
                        <mat-option value="Import Date">Import Date</mat-option>
                        <mat-option value="Item Number"> Item Number</mat-option>
                        <mat-option value="Notes">Notes</mat-option>
                        <mat-option value="Order Number" selected="selected">Order Number</mat-option>
                        <mat-option value="Priority">Priority</mat-option>
                        <mat-option value="Required Date">Required Date</mat-option>
                        <mat-option value="Sub Category">Sub Category</mat-option>
                        <mat-option value="Supplier Item ID">Supplier Item ID</mat-option>
                        <mat-option value="User Field1">User Field1</mat-option>
                        <mat-option value="User Field2">User Field2</mat-option>
                        <mat-option value="User Field3">User Field3</mat-option>
                        <mat-option value="User Field4">User Field4</mat-option>
                        <mat-option value="User Field5">User Field5</mat-option>
                        <mat-option value="User Field6">User Field6</mat-option>
                        <mat-option value="User Field7">User Field7</mat-option>
                        <mat-option value="User Field8">User Field8</mat-option>
                        <mat-option value="User Field9">User Field9</mat-option>
                        <mat-option value="Warehouse">Warehouse</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more text-20">
                        expand_more
                    </span>
                </mat-form-field>
            </div>

            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                    <mat-label>Case</mat-label>
                    <mat-select [(ngModel)]="case">
                        <mat-option value="Equals">Equals</mat-option>
                        <mat-option value="Between">Between</mat-option>
                        <mat-option value="Like">Like</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more text-20">
                        expand_more
                    </span>

                </mat-form-field>
            </div>

            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                    <mat-label>Value 1</mat-label>
                    <input matInput [(ngModel)]="value1">
                    <input matInput [(ngModel)]="value1D" [style.display]="'none'">
                </mat-form-field>
            </div>

            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                    <mat-label>Value 2</mat-label>
                    <input matInput [(ngModel)]="value2">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                    <mat-label>Max Orders</mat-label>
                    <input matInput [(ngModel)]="maxOrders">
                </mat-form-field>
            </div>

            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                    <mat-label>Trans Type</mat-label>
                    <mat-select [(ngModel)]="transType" (selectionChange)="getOrders()">
                        <mat-option value="Pick">Pick</mat-option>
                        <mat-option value="Put Away">Put Away</mat-option>
                        <mat-option value="Count">Count</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more text-20">
                        expand_more
                    </span>

                </mat-form-field>
            </div>

            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                    <mat-label>View Type</mat-label>
                    <mat-select [(ngModel)]="viewType" (selectionChange)="getOrders()">
                        <mat-option value="Headers">Order Headers</mat-option>
                        <mat-option value="Lines">Order Lines</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more text-20">
                        expand_more
                    </span>
                </mat-form-field>
            </div>

            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                    <mat-label>Order Type</mat-label>
                    <mat-select [(ngModel)]="orderType" (selectionChange)="getOrders()">
                        <mat-option value="Open">Open</mat-option>
                        <mat-option value="Pending">Pending</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more text-20">
                        expand_more
                    </span>

                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z g-card mb-3" style="height: 100%;">
    <mat-card-content>
        <div class="row">
            <div class="col-xl-5">
                <div class="d-flex gap-12 align-items-center mb-3">
                    <mat-form-field class="action-dropdown" appearance="outline" style="flex:1">
                        <!-- <mat-label>Select</mat-label> -->
                        <mat-select class="employees-action" placeholder="Select" [(ngModel)]="searchCol">
                            <mat-option *ngFor="let col of colList" value="{{col}}">{{col}}</mat-option>                            
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </mat-form-field>                
                    <span class="v-br bold">-</span>
                    <div class="d-flex g-mini-search-box" style="flex:1">
                        <mat-form-field class="w-100 bg-white br-8" appearance="fill">
                            <span class="material-symbols-outlined icon-search">
                                search
                            </span>
                            <input type="text" placeholder="Search" [(ngModel)]="searchTxt" aria-label="Number" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-2">
                <div class="d-flex justify-content-end mb-3">
                    <mat-form-field class="action-dropdown" appearance="outline">
                        <mat-label>Actions</mat-label>
                        <mat-select #matRef class="employees-action" placeholder="Actions">
                            <mat-option value="0"> Release Viewed </mat-option>
                            <mat-option value="1"> Delete Viewed </mat-option>
                            <mat-option value="2"> Print Viewed </mat-option>
                            <mat-option value="3"> Select Column Sequence </mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </mat-form-field>
                </div>
            </div>
        </div> 

        <div class="card br-14 borderless px-0" style="overflow-x: auto;">
            <ng-scrollbar track="all" class="mat-table-scrollbar " style="height: 320px">
                <table class="w-100 table-borderless" mat-table matSort [dataSource]="orderTable" (matSortChange)="announceSortChange($event)">
                    
                    <ng-container *ngFor="let col of displayedColumns; let i = index;" matColumnDef="{{col}}" [sticky]="col == 'Status' ? true : false" [stickyEnd]="col == 'actions' ? true : false">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col}} </th>
                        <td mat-cell *matCellDef="let element" [style]="col == 'actions' ? 'border: 0; padding-left: 24px; background: #fff;' : ''">
                            123
                            
                            <div class="label label-red px-2" *ngIf="col == 'Status' 
                                    && element.transactionType == 'Pick'
                                    && element.transactionQuantity > element.availableQuantity">
                                Danger
                            </div>
                                
                            <div class="d-flex justify-content-end" *ngIf="col == 'actions'">
                                <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="" class="circle-icon-o" appearance="outline">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>                
                                <mat-menu #appMenu="matMenu">
                                    <button mat-menu-item>Order Status</button>
                                    <button mat-menu-item (click)="updateRecord(element)">Update Records</button>
                                </mat-menu>
                            </div>
                        </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="actions" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef style="border: 0;height: 66px; padding-left:65px;"></th>        
                        <td mat-cell *matCellDef style="border: 0; padding-left: 24px; background: #fff;" >
                            <div class="d-flex justify-content-end">
                                <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="" class="circle-icon-o" appearance="outline">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>                
                                <mat-menu #appMenu="matMenu">
                                    <button mat-menu-item>Order Status</button>
                                    <button mat-menu-item (click)="openOmUpdateRecord()">Update Records</button>
                                </mat-menu>
                            </div>
                        </td>        
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style=" background-color: #F9F9FF;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </ng-scrollbar>
        </div>
        <div class="d-flex justify-content-between bg-white"> 
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 100]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>