.custom-scrollbar {
height: 63vh;
overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 11px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(216, 215, 215);
    border-radius: 10px;
}
@media screen and (max-width: 769px) {
button.restore-to-default-btn {
    margin-left: 2px !important;
}
}