<mat-card class="mat-elevation-z g-card br-14 mb-4">
    <mat-card-content>

      <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
          <h2 class="card-header-title mb-0 d-flex align-items-center">                    
              <span>Selected Ordes</span>
          </h2>
        </div>
        <div>
          <button mat-stroked-button color="warn" class="button-remove-all bg-white" >
            <mat-icon>clear</mat-icon>
            Remove All
        </button>
        </div> 
      </div>

      <div class="card bg-light-blue br-14">
        
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th class="bg-light-blue" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Order No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th class="bg-light-blue" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Tote No. </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th class="bg-light-blue" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight"> Priority </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th class="bg-light-blue" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Details </th>
              <td mat-cell *matCellDef="let element">
                 <button mat-stroked-button color="button-default" class="default-btn bg-white text-primary-900 br-14" >
                  View
                </button>
              </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th class="bg-light-blue" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by action"> Actions </th>
              <td mat-cell *matCellDef="let element">
                 <!-- <button mat-flat-button color="warn" class="">
                  <mat-icon>remove_circle</mat-icon>
                </button> -->
                <button mat-flat-button color="warn" class="sm-icon-button">
                  <span class="material-symbols-outlined">
                      close
                  </span>
                </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <div class="d-flex justify-content-between bg-white">
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
            <div class="m-3">
              <button mat-flat-button color="primary" class="br-14" >
                Create Batch
              </button>
            </div>                  
          </div>

      </div>


    </mat-card-content>
  </mat-card>
