<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>
        ID
        <div class="d-block dt-search-wrap">
          <input type="text" placeholder="Search ID" name="search-id"/>
        </div>

      </th>
      <th>
        First name
        <div class="d-block dt-search-wrap">
          <input type="text" placeholder="Search first name" name="search-first-name"/>
        </div>
      </th>
      <th>
        Last name
        <div class="d-block dt-search-wrap">
          <input type="text" placeholder="Search last name" name="search-last-name"/>
        </div>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="persons?.length != 0">
    <tr *ngFor="let person of persons">
      <td>{{ person.id }}</td>
      <td>{{ person.firstName }}</td>
      <td>{{ person.lastName }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="persons?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  </tbody>
</table>
