<mat-tab-group dynamicHeight [(selectedIndex)]="TabIndex">
    <mat-tab label="Order Status">
        <app-order-status></app-order-status>
    </mat-tab>
    <mat-tab label="Open Transactions" >
        <app-open-transaction ></app-open-transaction>
    </mat-tab>
    <mat-tab label="Transaction History">
        <app-transaction-history></app-transaction-history>
    </mat-tab>
    <mat-tab label="Reprocess Transactions">
        <app-reprocess-transaction></app-reprocess-transaction>
    </mat-tab>
    <mat-tab label="Reprocessed Transactions">
        <app-reprocessed-transaction></app-reprocessed-transaction>
    </mat-tab>
</mat-tab-group>