<div class="container-fluid p-0">
    <mat-card class="mat-elevation-z g-card mb-3">
        <mat-card-content>
            <div class="row mb-3">
                <h2 class="card-header-title mb-0 d-flex align-items-center">
                    <div class="mat-icon-wrap me-lg-3">
                        <span class="material-symbols-outlined">
                            ballot
                        </span>
                    </div>
                    <span>Batch Picks</span>
                </h2>
            </div>


            <div class="card p-3 m-2">
                <div class="row align-items-center">
                    <div class="col-xl-4 p-2">
                        <!-- <mat-form-field class="custom-form-field w-100" appearance="outline">
                            <mat-label>Batch ID</mat-label>
                            <input matInput type="text" value="1235413">
                        </mat-form-field> -->

                        <mat-form-field [floatLabel]="getFloatLabelValue()"
                        [hideRequiredMarker]="hideRequiredControl.value"
                        class="custom-form-field w-100  mb-2" appearance="outline">
                        <mat-label>From Cost</mat-label>
                        <input  [NumbersOnly]="true" [matAutocomplete]="fromCost" (ngModelChange)="this.batchPickId.next($event)"
                            formControlName="costStart" matInput class=" " type="text" maxlength="50">
                        <mat-autocomplete #fromCost="matAutocomplete" (optionSelected)="searchData()">
                            <mat-option *ngFor="let option of searchAutocompletBatchPick" [value]="">
                               
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    
                    </div>
                    <div class="col-xl-4 p-2">
                        <button mat-stroked-button class="btn-regular button-remove-all-w-stroke" color="warn">Clear</button>
                    </div>
                    <div class="col-xl-4 p-2">
                        <button mat-flat-button class="form-button-submit w-100" color="primary">Clear Pick Tote
                            Info</button>
                    </div>
                </div>
            </div>

        </mat-card-content>
    </mat-card>



    <mat-card class="mat-elevation-z g-card">
        <mat-card-content>
            <div class="row mb-3">
                <h2 class="card-header-title mb-0 d-flex align-items-center">
                    <div class="mat-icon-wrap me-lg-3">
                        <span class="material-symbols-outlined">
                            list_alt
                        </span>
                    </div>
                    <span>Tote Transactions</span>
                </h2>
            </div>

                    <div class="card br-14 table-responsive borderless">
                        <ng-scrollbar style="height:340px" track="all">
                            <table mat-table [dataSource]="this.ELEMENT_DATA" matSort class="w-100">
                                <ng-container matColumnDef="batch_id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch ID </th>
                                    <td mat-cell *matCellDef="let element">{{element.batch_id}}</td>

                                </ng-container>
                                <ng-container matColumnDef="pos_no">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pos No. </th>
                                    <td mat-cell *matCellDef="let element">{{element.pos_no}}</td>

                                </ng-container>
                                <ng-container matColumnDef="tote_id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tote ID </th>
                                    <td mat-cell *matCellDef="let element">{{element.tote_id}}</td>
                                </ng-container>
                                <ng-container matColumnDef="zone">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Zone </th>
                                    <td mat-cell *matCellDef="let element">{{element.zone}}</td>
                                </ng-container>
                                <ng-container matColumnDef="trans_type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trans Type </th>
                                    <td mat-cell *matCellDef="let element">{{element.trans_type}}</td>
                                </ng-container>
                                <ng-container matColumnDef="host_trans_id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Host Trans ID </th>
                                    <td mat-cell *matCellDef="let element">{{element.host_trans_id}}</td>
                                </ng-container>


                                <ng-container matColumnDef="action" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element; let i = index;">
                                        <div class="d-flex justify-content-end ps-2">
                                            <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="" class="circle-icon-o" appearance="outline">
                                                <mat-icon>more_horiz</mat-icon>
                                              </button>
                            
                                              <mat-menu #appMenu="matMenu">
                                                <button mat-menu-item>Clear Info</button>
                                                <button mat-menu-item>Print Off Carousel List</button>
                                                <button mat-menu-item>Print Tote Contents</button>
                                                <button mat-menu-item>Print Tote Labels</button>
                                              </mat-menu>
                                        </div>
                                    </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            </table>
                        </ng-scrollbar>
                    </div>

                 

        </mat-card-content>
    </mat-card>

</div>