<div class="py-4 br-14">

    <div class="row">
        <div class="col-6 offset-6">
            <div class="d-flex gap-12 my-4 justify-content-end">
              <button mat-flat-button color="primary" class="add-icon-button" (click)="addCatRow($event)">
                <span class="material-symbols-outlined">
                  add
                </span>
              </button>
              <button mat-stroked-button color="primary" class="button-primary-o bg-white backgroundColor" (click)="openPrintRangeDialog()" >
                <mat-icon>print</mat-icon>
                Print
              </button>
            </div>
        </div>
    </div>

    <div class="card w-100">

        <div class="card-header">
            <div class="row">
                <div class="col-3 px-4">Item Number</div>
                <div class="col-3 px-4">Description</div>
                <div class="col-3 px-4">Special Features</div>
                <div class="col-3 px-4">Kit Quantity</div>
            </div>
        </div>

        <div class="card-body" style="max-height: 400px; overflow-y: scroll;">
            <div class="container">

            <div class="row">
                <mat-radio-group aria-label="Select an option" color="primary" class="w-100">

                    <div *ngFor="let kitItem of kitItemsList" class="d-flex align-items-center">

                        <div class="container w-100">

                            <div class="row">

                                <div class="col-3">
                                    <mat-form-field class="custom-form-field w-100" appearance="outline"   (click)="openAddItemNumDialog(kitItem)">
                                        
                                        <span matSuffix>
                                            <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                                          </span>
                                        <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" #itemNum name="{{kitItem.itemNumber}}" value="{{kitItem.itemNumber}}"
                                    >
                                    </mat-form-field>
                                </div>

                                <div class="col-3">
                                    <div class="d-flex gap-12 align-items-center">

                                        <mat-form-field class="custom-form-field w-100" appearance="outline" (click)="openDescriptionDialog(kitItem)">
                                            <span matSuffix>
                                                <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                                              </span>
                                         
                                            <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" name="{{kitItem.description}}" [(ngModel)]="kitItem.description" #itemDesc
                                            >
                                        </mat-form-field>

                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="d-flex gap-12 align-items-center">
                                        <mat-form-field class="custom-form-field w-100" appearance="outline">
                                            
                                            <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" name="{{kitItem.specialFeatures}}" [(ngModel)]="kitItem.specialFeatures"  #specialFeature
                                            maxlength="255">
                                        </mat-form-field>

                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="d-flex gap-12 align-items-center">

                                        <mat-form-field class="custom-form-field w-100" appearance="outline">
                                          
                                            <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" name="{{kitItem.kitQuantity}}" [(ngModel)]="kitItem.kitQuantity"  #kitQuantity
                                             max="9" pattern="^[0-9]*$" maxlength="9">
                                        </mat-form-field>

                                        <button mat-flat-button color="warn" class="sm-icon-button" (click)="dltCategory(kitItem);">
                                            <span class="material-symbols-outlined">close</span>
                                        </button>

                                        <button mat-flat-button color="primary" class="sm-icon-button" (click)="saveKit(itemNum.value,  kitItem)">
                                            <span class="material-symbols-outlined">save</span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </mat-radio-group>
            </div>
        </div>
        </div>
    </div>
</div>


<ng-template #additemNumber>
    <div class="d-flex justify-content-between mb-4 align-items-center">
        <h1 class="m-0" mat-dialog-title>Item Number</h1>

    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
    </div>
    
    
    <div class="">    
        <div class="w-100">
            <div class="col-12 mb-2">
                <mat-form-field class="custom-form-field w-100" appearance="outline" >
                  
                    <input  [matAutocomplete]="searchauto" type="text" placeholder="Search" aria-label="Search" matInput  (keyup)="getSearchList($event)"  [(ngModel)]="dialogitemNumberDisplay" >
                    <mat-autocomplete class="card custom-scroll"  #searchauto="matAutocomplete" (optionSelected)="onSearchSelect($event)" [displayWith]="displayFn" >
                      <h6 class ="card-header matAutoCompHeader "><span style="width:  140px;">Item No.</span> <span  style="width:  140px;">Description</span></h6>
                      <mat-option *ngFor="let option of searchList" [value]="option"  class="matAutoCompTableContent">
                        <div class="loc_option">
                          <span  class="searchColumn" style="width:  140px;">{{option?.itemNumber}}</span> <span  class="searchColumn" style="width:  140px;">{{option.description}}</span>
                      </div>
                      </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
            </div>
            <div class="d-flex justify-content-end pt-3">
            <button mat-flat-button color="primary" class="button-primary btn-lg"  [mat-dialog-close]="true"  cdkFocusInitial>Submit</button>
            </div>
        </div>
    
    </div>
    
</ng-template>

<ng-template #description>

    <div class="d-flex justify-content-between mb-4 align-items-center">
    <h1  class="m-0" mat-dialog-title>Description</h1>

    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
    </div>
    
    <div class="">    
        <div class="w-100">
            <div class="col-12 mb-2">
                <mat-form-field class="custom-form-field w-100" appearance="outline">
            
                    <textarea matInput [(ngModel)]="dialogDescription"  readonly="true"></textarea>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-end pt-3">
            <button mat-flat-button color="primary" class="button-primary btn-lg" [mat-dialog-close]="true"  cdkFocusInitial>Submit</button>
        </div>
        </div>
    
    </div>
    
</ng-template>