<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <mat-card class="mat-elevation-z g-card">
        <mat-card-content>
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="card-header-title mb-0 d-flex align-items-center">
              <div class="mat-icon-wrap me-lg-3">
                <span class="material-symbols-outlined">
                  monitoring
                </span>
              </div>
              <span>Inventory Map</span>
            </h2>
            <div class="row">
              <div class="col mt-2">
                <button mat-mini-fab color="primary" aria-label="Add Locations" (click)="addLocDialog()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="col mt-2">
                <mat-form-field class="action-dropdown" appearance="fill" >
                  <mat-label>Actions</mat-label>
                  <mat-select class="employees-action" (selectionChange)="inventoryMapAction($event)">
                    <mat-option value="print">Print</mat-option>
                    <mat-option value="set_column_sq">Set Column Sequence</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col mt-2">
                <button mat-button>
                  <span class="material-symbols-outlined">
                    filter_list
                  </span>
                  <mat-label>Filter</mat-label>
                </button>
              </div>

            </div>
          </div>
          <div>
            <ng-scrollbar style="height: 665px;">
              <mat-table #table [dataSource]="dataSource" matSort>
                <ng-container [matColumnDef]="col.colDef" *ngFor="let col of displayedColumns">
                  <th class="header" mat-header-cell *cdkHeaderCellDef>
                    {{ col.colDef }}
                    <mat-form-field class="filter" floatLabel="never" appearance="outline">
                      <mat-label>Search {{ col.colDef }}</mat-label>
                      <input #searchInput matInput (change)="applyFilter(searchInput.value, col.colHeader)">
                    </mat-form-field>
                  </th>
                  <td *matCellDef="let element"> {{ element[col.colHeader] }} </td>
                </ng-container>
                <ng-container matColumnDef="actions" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> afreen </th>                  
                  <td mat-cell *matCellDef="let seletedRecord"> 
                     <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="">
                         <mat-icon>more_vert</mat-icon>
                     </button>
                     <mat-menu #appMenu="matMenu">
                       <button mat-menu-item (click)="edit(seletedRecord)">Edit</button>
                       <button mat-menu-item (click)="delete(seletedRecord)">Delete</button>
                       <button mat-menu-item (click)="quarantine(seletedRecord)">Quarantine</button>
                       <button mat-menu-item (click)="adjustQuantity()">Adjust Quantity</button>
                       <button mat-menu-item (click)="viewInInventoryMaster()">View in Invetory Master</button>
                       <button mat-menu-item (click)="viewLocationHistory()">View location history</button>
                     </mat-menu>  
                 </td>
              </ng-container>
                <mat-header-row *matHeaderRowDef="columnValues;sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnValues;"></mat-row>
              
              </mat-table>
              <mat-paginator [length]="this.customPagination.total"
              [pageSize]="20" [pageSizeOptions]="[10, 25, 100]" (page)="handlePageEvent($event)"></mat-paginator>
            </ng-scrollbar>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>