<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <mat-card class="mat-elevation-z g-card">
        <mat-card-content>
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="card-header-title mb-0 d-flex align-items-center">
              <div class="mat-icon-wrap me-lg-3">
                <span class="material-symbols-outlined">
                  monitoring
                </span>
              </div>
              <span>Inventory Map</span>
            </h2>
            <div class="row">
              <div class="col mt-2">
                <button mat-mini-fab color="primary" aria-label="Add Locations" (click)="addLocDialog()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="col mt-2">
                <mat-form-field class="action-dropdown" appearance="fill" >
                  <mat-label>Actions</mat-label>
                  <mat-select class="employees-action" (selectionChange)="inventoryMapAction($event)">
                    <mat-option value="print">Print</mat-option>
                    <mat-option value="set_column_sq">Set Column Sequence</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col mt-2">
                <button mat-button>
                  <span class="material-symbols-outlined">
                    filter_list
                  </span>
                  <mat-label>Filter</mat-label>
                </button>
              </div>

            </div>
          </div>
          <div class="groups-details details-wrap g-details-wrap">
            <ng-scrollbar style="height: 565px;">
              <app-checks-with-drag-table
              (action)="onTableAction($event)"
                [dataset]="data" 
                [columns]="columns">
              </app-checks-with-drag-table>
            </ng-scrollbar>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>