<mat-card class="mat-elevation-z g-card mb-4 h-100">
    <mat-card-content>
        <h2 class="card-header-title mb-0 d-flex align-items-center mb-3">
            <div class="mat-icon-wrap me-lg-3">
                <span class="material-symbols-outlined">
                    tab
                </span>
            </div>
            <span>Reprocess Choices</span>
        </h2>
        <div class="custom mb-2">
            <div class="counter bg-white">
                <div>
                <div class="d-flex justify-content-evenly">
                    <div class="employees text-center">
                    <p class="counter-count mb-1 bg-primary-900">1000</p>
                    <p class="employee-p text-tertiary-900 mb-1  ">Total</p>
                    <span>
                        <mat-checkbox color="primary">

                        </mat-checkbox>
                    </span>
                    
                    </div>
                    <div class="customer text-center">
                    <p class="counter-count mb-1 bg-primary-900">800</p>
                    <p class="customer-p text-tertiary-900 mb-1  ">WIP</p>
                    <span>
                        <mat-checkbox color="primary">

                        </mat-checkbox>
                    </span>
                    </div>
                    <div class="customer text-center">
                        <p class="counter-count mb-1 bg-primary-900">800</p>
                        <p class="customer-p text-tertiary-900 mb-1  ">WIP</p>
                        <span>
                            <mat-checkbox color="primary">
    
                            </mat-checkbox>
                        </span>
                        </div>
                </div>
                </div>
            </div>
        </div>
        <div>
            <button mat-flat-button color="primary" class="button-primary w-100">
                Post Transactions
              </button>
        </div>
    </mat-card-content>

</mat-card>