<mat-card class="mat-elevation-z g-card h-100">
    <mat-card-content>
        <h2 class="card-header-title mb-1 d-flex align-items-center">
            <div class="mat-icon-wrap me-lg-3">
                <span class="material-symbols-outlined">
                    tab
                </span>
            </div>
            <span>Reprocess Choices</span>
        </h2>
        <div class="custom mb-2">
            <div class="counter mt-0 bg-white">
                <div>
                <div class="d-flex justify-content-evenly">
                    <div class="employees text-center">
                    <p class="counter-count mb-1 bg-primary-900">{{reprocessCount.reprocess}}</p>
                    <p class="employee-p text-tertiary-900 mb-1  ">Reprocess</p>
                    <span>
                        <mat-checkbox color="primary" [(ngModel)] = "isReprocessedChecked.flag"   [disabled]="isEnabled" (change)="changeOrderStatus($event,'Reprocess')">

                        </mat-checkbox>
                    </span>
                    
                    </div>
                    <div class="customer text-center">
                    <p class="counter-count mb-1 bg-primary-900">{{reprocessCount.complete}}</p>
                    <p class="customer-p text-tertiary-900 mb-1  ">Complete</p>
                        <span>
                            <mat-checkbox color="primary" [(ngModel)]= "isCompleteChecked.flag" [disabled]="isEnabled" (change)="changeOrderStatus($event,'Complete')">
    
                            </mat-checkbox>
                        </span>
                        </div>
                        <div class="employees text-center">
                            <p class="counter-count mb-1 bg-primary-900">{{reprocessCount.history}}</p>
                            <p class="employee-p text-tertiary-900 mb-1  ">History</p>
                            <span>
                                <mat-checkbox color="primary" [(ngModel)]= "isHistoryChecked.flag" [disabled]="isEnabled" (change)="changeOrderStatus($event,'History')">
        
                                </mat-checkbox>
                            </span>
                            
                            </div>
                </div>
                </div>
            </div>
        </div>
        <div>
            <button mat-flat-button color="primary" class="w-100"  color="primary" (click)="postTransaction()">
                Post Transactions
              </button>
        </div>
    </mat-card-content>

</mat-card>