<div class="main-section-options">
  <div class="container-fluid">
    <div class="row g-4">
      <!-- Main Section Option (Import Export) -->
      <div class="col-3">
        <div matRipple [matRippleColor]="tab_hover_color" class="main-section-option bg-white">
          <a class="main-section-option-link" href="#"></a>
          <div class="main-section-icon">
            <span class="material-symbols-outlined">
              electric_bolt
            </span>
          </div>
          <h4 class="main-section-title" style="font-size:22px;">Import Export</h4>
        </div>
      </div>

      <!-- Main Section Option (Admin) -->
      <div class="col-3">
        <div matRipple [matRippleColor]="tab_hover_color" class="main-section-option bg-white" routerLink="/admin" (click)="updateMenu()">
          <div class="main-section-icon">
            <span class="material-symbols-outlined">
              manage_accounts
            </span>
          </div>
          <h4 class="main-section-title" style="font-size:22px;">Admin</h4>
        </div>
      </div>

      <!-- Main Section Option (Induction Manager) -->
      <div class="col-3">
        <div matRipple [matRippleColor]="tab_hover_color" class="main-section-option bg-white">
          <a class="main-section-option-link" href="#"></a>
          <div class="main-section-icon">
            <span class="material-symbols-outlined">
              checklist
            </span>
          </div>
          <h4 class="main-section-title" style="font-size:22px;">Induction Manager</h4>
        </div>
      </div>

      <!-- Main Section Option (Work Manager) -->
      <div class="col-3">
        <div matRipple [matRippleColor]="tab_hover_color" class="main-section-option bg-white">
          <a class="main-section-option-link" href="#"></a>
          <div class="main-section-icon">
            <span class="material-symbols-outlined">
              fact_check
            </span>
          </div>
          <h4 class="main-section-title" style="font-size:22px;">Work Manager</h4>
        </div>
      </div>

      <!-- Main Section Option (Consolidation Manager) -->
      <div class="col-3">
        <div matRipple [matRippleColor]="tab_hover_color" class="main-section-option bg-white">
          <a class="main-section-option-link" href="#"></a>
          <div class="main-section-icon">
            <span class="material-symbols-outlined" style="transform:rotate(180deg) ;">
              insert_chart
            </span>
          </div>
          <h4 class="main-section-title" style="font-size:22px;">Consolidation Manager</h4>
        </div>
      </div>

      <!-- Main Section Option (Order Manager) -->
      <div class="col-3">
        <div matRipple [matRippleColor]="tab_hover_color" class="main-section-option bg-white">
          <a class="main-section-option-link" href="#"></a>
          <div class="main-section-icon">
            <span class="material-symbols-outlined">
              pending_actions
            </span>
          </div>
          <h4 class="main-section-title" style="font-size:22px;">Order Manager</h4>
        </div>
      </div>

      <!-- Main Section Option (FlowReck Replenish) -->
      <div class="col-3">
        <div matRipple [matRippleColor]="tab_hover_color" class="main-section-option bg-white">
          <a class="main-section-option-link" href="#"></a>
          <div class="main-section-icon">
            <span class="material-symbols-outlined">
              schema
            </span>
          </div>
          <h4 class="main-section-title" style="font-size:22px;">FlowReck Replenish</h4>
        </div>
      </div>

      <!-- Main Section Option (Markout) -->
      <div class="col-3">
        <div matRipple [matRippleColor]="tab_hover_color" class="main-section-option bg-white">
          <a class="main-section-option-link" href="#"></a>
          <div class="main-section-icon">
            <span class="material-symbols-outlined">
              manage_accounts
            </span>
          </div>
          <h4 class="main-section-title" style="font-size:22px;">Markout</h4>
        </div>
      </div>


    </div>
  </div>
</div>
